FORMAT: 1A
HOST: https://api.mis.tot.co.th/mis

# Group Introduction

# MIS API
  เอกสารการสเปค **MIS API.** สำหรับแลกเปลี่ยนข้อมูลกับ OIS มิใช่เอกสารสำหรับการใช้งานภายในระบบ
  ชื่อ และ type ตัวแปรจะใช้ตามโครงสร้างที่เกษตรกำหนดมา

  <img src="data\image\api_gateway.svg" width="100%">

  ภาพแสดงการเชื่อมต่อกับระบบ OIS
  - การเรียกใช้ api ภายใน MIS จะเชื่อมผ่าน MIS api gateway ทั้งหมด
  - สำหรับการส่ง Notification จะทำผ่านระบบ Message Queue

  <a href="data\image\full.svg">
    <img src="data\image\full.svg" width="100%">
  </a>

# Group Authorization

  การใช้งาน จำเป็นต้องมี api key

# Group MIS ปฏิบัติการ

## เพิ่มปฏิบัติการใหม่ [POST /dispatch]

  **(ทดสอบตัวสร้างเอกสารยังไม่ใช่โครงสร้างข้อมูลจริง)**

  <img src="data\image\create_dispatch.svg">

  เปิดปฏิบัติการ 1 คน ต่อ 1 ห้อง MIS

+ Request (application/json)

    + Headers

            Authorization: Token {token}

    + Attributes (Dispatch , fixed-type)

+ Response 201 (application/json)

    + Attributes (object , fixed-type)
      + misRoomId: `819232` (string) - รหัสห้อง MIS
      + return (Dispatch)

## อัพเดทปฏิบัติการ [PUT /dispatch]

  <img src="data\image\update_dispatch.svg">

  **Message Queue**

  ในกรณี OIS ต้องการอัพเดทข้อมูลปฏิบัติการ ในระหว่างกำลังปฏิบัติงาน จะทำงานผ่าน Message Queue

+ Request (application/json)

    + Attributes (object , fixed-type)
      + event: `update_dispatch` (string, required) - กำหนดค่าคงที่
      + randomNumber: `5324` (number,required) - ให้สุ่มตัวเลขใส่ค่าในช่องนี้
      + OfficeID: `1010` (number, required) - หน่วยปฏิบัติการ (ทะเบียนหน่วยงาน)
      + EventID: `610001` (number, required) - รหัสเหตุการณ์
      + OperationID: `610003` (number, required) - เลขปฏิบัติการ
      + dispatch (Dispatch) - ข้อมูลปฏิบัติการ


## ผู้ป่วย ขึ้น/เปลี่ยน พาหนะ [PUT /dispatch/vehicle]

  ในกรณีที่มีพาหนะ หลายอย่างออกไปรับผู้ป่วย 1 คน เช่น มีการใช้รถรวมกันระว่าง FR กับ ALS ประสานงานกันรับผู้ป่วย

## UI สำหรับแสดงผล MIS [GET /dispatch/{misRoomId}]

  หน้าจอส่วนแสดงผลที่จะนำไปใส่ในระบบอื่น

# Group OIS ปฏิบัติการ

  HOST และ link จะเป็นของทาง OIS

  https://api.ois.tot.co.th/ois/dispatch/{OperationID}

## ส่งรายงานปฏิบัติงาน [POST /ois/dispatch/{OperationID}]

+ Parameters
    + OperationID: `610003` (number, required)
      ``เลขปฏิบัติการ``

## แก้ไขรายงานปฏิบัติงาน [PUT /ois/dispatch/{OperationID}]

  หลังจากส่งรายงานการปฏิบัติงานแล้วอนุญาติให้แก้ไขได้ภายใน 24 ชม. หลังปิดเคส

+ Parameters
    + OperationID: `610003` (number, required)
      ``เลขปฏิบัติการ``

# Group MIS Protocol

## Offline protocol [GET /protocol]

## Online protocol [GET /protocol]

# Group ระบบ MIS Telemed

## ข้อมูลสัญญาณชีพ html [GET /telemed/vitalsigns/{PersonID}]

+ Parameters
    + PersonID: `002321` (number, required)
      ``รหัสข้อมูลบุคคล``

## ข้อมูลสัญญาณชีพ json [GET /telemed/vitalsigns/{PersonID}]

+ Parameters
    + PersonID: `002321` (number, required)
      ``รหัสข้อมูลบุคคล``

# Group MIS Notification

## ศูนย์เรียกแพทย์เข้าห้อง [PUT /notification]

  <img src="data\image\center_call_medical.svg">

  <img src="data\image\center_call_medical_001.svg">

  เมื่อศูนย์ต้องการเรียกแพทย์ที่เข้าเวรอยู่ ไปยังห้องที่ระบุ

+ Request (application/json)

    + Attributes (object , fixed-type)
      + event: `send_operator` (string, required) - กำหนดค่าคงที่
      + randomNumber: `965` (number,required) - ให้สุ่มตัวเลขใส่ค่าในช่องนี้
      + OfficeID: `1010` (number, required) - หน่วยปฏิบัติการ (เลขทะเบียนหน่วยงาน)
      + OperatorID: `111222` (number, required) - รหัสทะเบียนเจ้าหน้าที่

## แพทย์เรียกศูนย์เข้าห้อง [PUT /notification]

  <img src="data\image\medical_call_center.svg">

  <img src="data\image\medical_call_center_001.svg">

  ใช้เมื่อแพทย์ ต้องการส่งข้อความหาศูนย์ ในที่นี้จะใช้สำหรับ ในกรณีที่แพทย์ ต้องการเรียกศูนย์เข้าห้อง

+ Request (application/json)

    + Attributes (object , fixed-type)
      + event: `send_center` (string, required) - กำหนดค่าคงที่
      + randomNumber: `124` (number,required) - ให้สุ่มตัวเลขใส่ค่าในช่องนี้
      + OperatorID: `111222` (number, required) - รหัสทะเบียนเจ้าหน้าที่
      + misRoomId: `819232` (number, required) - รหัสห้อง MIS
      + OfficeID: `1010` (number, required) - หน่วยปฏิบัติการที่จะส่งข้อความถึง (เลขทะเบียนหน่วยงาน)
      + message: `แพทย์เรียก` (string, required) - ข้อความ

## ส่ง Notification ไป OIS [PUT /notification]

  **Message Queue**

  <img src="data\image\notification_system_002.svg">

  <img src="data\image\notification_system_003.svg">

  ในที่นี้สำหรับใช้ในกรณี mis ต้องการส่ง Notification ไปยังศูนย์สั่งการ

+ Request (application/json)

    + Attributes (object , fixed-type)
      + event: `send_center` (string, required) - กำหนดค่าคงที่
      + randomNumber: `6324` (number,required) - ให้สุ่มตัวเลขใส่ค่าในช่องนี้
      + OperatorID: `111222` (number, required) - รหัสทะเบียนเจ้าหน้าที่
      + OfficeID: `1010` (number, required) - หน่วยปฏิบัติการที่จะส่งให้ (ทะเบียนหน่วยงาน)
      + message: `จะมีเคสส่งข้ามเขตไปหา` (string, required) - ข้อความ Notification

## รับ Notification จาก OIS [POST /notification]

  **Message Queue**

  <img src="data\image\notification_system.svg">

  <img src="data\image\notification_system_001.svg">

  ใช้ในกรณี OIS ต้องการส่ง Notification ไปยังผู้ใช้ MIS

+ Request (application/json)

    + Attributes (object , fixed-type)
      + event: `send_operator` (string, required) - กำหนดค่าคงที่
      + randomNumber: `2347` (number,required) - ให้สุ่มตัวเลขใส่ค่าในช่องนี้
      + OfficeID: `1010` (number, required) - หน่วยปฏิบัติการ (ทะเบียนหน่วยงาน)
      + OperatorID: `111222` (number, required) - รหัสทะเบียนเจ้าหน้าที่
      + message: `จะมีเคสส่งข้ามเขตไปหา` (string, required) - ข้อความ Notification

## รับ Alert จาก OIS [POST /notification]

  **Message Queue Remote procedure call (RPC)**

  ใช้ในกรณ OIS ต้องการส่ง Alert message ไปยังผู้ใช้ MIS และยังสามารถทราบได้ด้วยว่า ข้อความถึงปลายทางหรือไม่

  (รอหารือกับทีมอีกครั้ง ว่าจะทำตรงนี้หรือไม่)

+ Request (application/json)

    + Attributes (object , fixed-type)
      + event: `alert_operator` (string, required) - กำหนดค่าคงที่
      + randomNumber: `96544` (number,required) - ให้สุ่มตัวเลขใส่ค่าในช่องนี้
      + OfficeID: `1010` (number, required) - หน่วยปฏิบัติการ (ทะเบียนหน่วยงาน)
      + OperatorID: `111222` (number, required) - รหัสทะเบียนเจ้าหน้าที่
      + message: `ติดต่อศูนย์ด่วน 02-222-2222` (string, required) - ข้อความ Notification

# Group OIS จัดการเวร

## เข้าเวร/ออกเวร [PUT /duty]

# Group Lookup from OIS

## Speciallist [GET /specialist{?province,query}]

+ Parameters
    + province: `สระแก้ว` (string)
      ``ชื่อจังหวัด``
    + query: `กระดูก` (string)
      ``ข้อมูล query อื่นๆ เช่น กระดูก, หัวใจ, สมอง``

## สิทธิ์การรักษา/ประวัติการรักษา/ข้อมูลส่วนบุคคล [GET /rightoftreatment/{id_card}]

  สิทธิ์/ประวัดิการรักษา รวมถึงข้อมูลส่วนบุคคลอื่นๆ ด้วย

**(รอหารือกับทีมอีกครั้งว่าสมควรดึงได้โดยตรงไหม เพราะเป็นข้อมูลละเอียดอ่อน)**

+ Parameters
    + id_card: `3250400000001` (string, required)
      ``หมายเลขประจำตัวประชาชน``

## สมาชิกในทีมปฏิบัติการ [GET /operating/{OperatingSetID}]

  + Parameters
      + OperatingSetID: `23154` (number, required)
        ``ชุดปฏิบัติการ (ทะเบียนชุดปฏิบัติการ)``

## ค้นหาหน่วยงาน [GET /organization{?query}]

  <img src="data\image\ois_search_org.svg">

  ดึงข้อมูลชื่อหน่วยงานจาก OIS ถ้าไม่ใส่ query จะส่งกลับรายชื่อหน่วยงานทั้งหมด

+ Parameters
    + query: `สระแก้ว` (string, optional)
      ``ข้อมูลที่ต้องการค้นหา``

+ Response 200 (application/json)
    + Attributes (array, fixed-type)
        + (object)
            + OfficeID: `1010` (number ,required) - รหัสหน่วยงาน
            + OfficeNameTh: `โรงพยาบาลวิภาวดี` (string ,required) - ชื่อหน่วยงานไทย
            + OfficeNameEn: `Vipa` (string ,required) - ชื่อหน่วยงานอังกฤษ

## ข้อมูลหน่วยงาน [GET /organization/{OfficeID}]

  <img src="data\image\ois_get_org.svg">

  ดึงข้อมูลหน่วยงานจาก OIS

+ Parameters
    + OfficeID: `1010` (string, required)
      ``รหัสหน่วยงาน``

+ Response 200 (application/json)
    + Attributes (Organization, fixed-type)


## Data Structures

# Dispatch (object)
+ type: `Dispatch` (string, fixed, required) - ค่าคงที่
+ EventID: `610001` (number, required) - รหัสเหตุการณ์
+ OperationID: `610003` (number, required) - เลขปฏิบัติการ
+ VehicleIID: `6กจ9999`, `9ดม2448` (array[string]) - เลขรถปฏิบัติการ (ทะเบียนยานพาหนะ)
+ OfficeID: `1010` (number, required) - หน่วยปฏิบัติการ (ทะเบียนหน่วยงาน)
+ OperatingSetID: `23154`,`22314` (array[number]) - ชุดปฏิบัติการ (ทะเบียนชุดปฏิบัติการ)
+ O_Victim (Victim) - ข้อมูลผู้ป่วย

# Victim (object)
+ type: `Victim` (string, required)
+ EventPatientID: `2222` (number) - รหัสรายละเอียดผู้ประสบเหตุ
+ EventID: `610001` (number) - รหัสเหตุการณ์
+ CBDCode: `CBD25` (string) - อาการผู้ป่วยที่แจ้ง
+ PatientName: `002321` (number) - ชื่อผู้ป่วย ชุดข้อมูลบุคคล PersonID
+ CitizenID: `3250400000001` (string) - หมายเลขประจำตัวประชาชน
+ EmergencyLevelCode: `02` (string) - ระดับความรุนแรง 01=ขาว, 02=เขียว, 03=เหลือง, 04=แดง, 05=ดำ

# Person (object)
+ PersonID: `002321` (number) - รหัสข้อมูลบุคคล
+ CitizenID: `3250400000001` (string) - หมายเลขประจำตัวประชาชน
+ PrefixCode: `001` (string) - คำนำหน้าชื่อ ไฟล์ prefix.xlsx
+ GivenName: `แสม` (string) - ชื่อตัว
+ FamilyName: `แสนซน` (string) - ชื่อสกุล
+ GenderCode: `1` (number) - เพศ 1=ชาย (male), 2=หญิง (Female), 9=ไม่สามารถระบุได้ (not applicable)
+ BirthDate: `1990-01-25` (string) - วันเกิด
+ BirthJurisdiction: `ลพบุรี` (string) - สถานที่เกิด จังหวัด
+ NationalityCode: `TH` (string) - สัญชาติ File Nationality.xlsx
+ LifeStatusCode: `LI` (string) - สถานะการมีชีวิต EN=เสียชีวิต, LI=มีชีวิต
+ DisabilityCode: `00` (string) - ความพิการ File Disability.xlsx

# Organization (object)
+ OfficeID: `1010` (string) - รหัสหน่วยงาน
+ OfficeNameTh: `โรงพยาบาลวิภาวดี` (string) - ชื่อหน่วยงาน(ไทย)
+ OfficeNameEn: `Vipa` (string) - ชื่อหน่วยงาน(อังกฤษ)
+ MinistryCode: `17` (string) - สังกัดกระทรวง/ทบวง File Ministry.xlsx กรมประชาสัมพันธ์ The Government Public Relations Department (PRD)
+ OfficeTypeCode (string) - ประเภทหน่วยงาน
+ TypeOfWorkCode: `02` (string) - ประเภทงาน 01=หน่วยปฏิบัติการดูแลผู้ป่วยและขนส่ง (ชื่อธนาคาร สาขา เลขบัญชี ประเภทบัญชี ชื่อบัญชี), 02=หน่วยรับแจ้งภาวะฉุกเฉินและสั่งการทางการแพทย์, 03=โรงพยาบาลหรือสถานพยาบาล(จำนวน ความเชี่ยวชาญเฉพาะทาง เลือกประเภทโรงพยาบาล), 04=หน่วยบริหารจัดการระบบ, 05=หน่วยสนับสนุนอื่นๆ
+ Distance (string) - ระยะทางจากที่ตั้งหน่วยถึง

# Vehicle (object)
+ type: `Vehicle` (string, required) - ค่าคงที่
+ Vehicle_Id: `10-1-VEH-10010200034` (string) - รหัสชุดปฏิบัติการ
+ Vehicle_Name: `โรงพยาบาลวิภาวดี 3กษ 8019` (string) - ชื่อชุดปฏิบัติการ

# Vehicle_Level (enum)
+ ALS - ปฏิบัติการฉุกเฉินระดับสูง
+ ILS - ปฏิบัติการฉุกเฉินระดับกลาง
+ BLS - ปฏิบัติการฉุกเฉินระดับต้น
+ FR - ปฏิบัติการฉุกเฉินเบื้องต้น

# Medical (object)
+ type: `Medical` (string, required) - ค่าคงที่
+ Name - ชื่อ
+ No - เลขที่ใบประกอบ
+ Tel - เบอร์โทรศัพท์
