FORMAT: 1A
HOST: https://api.mis.tot.co.th/mis

# Group Introduction

# MIS API Draft alpha-9
  **alpha-10 โน๊ตกันลืม**
  - โน๊ตกันลืม หารือกับพี่บาส ปรับโครงสร้างให้ทุกตัว link หากันได้หมด ก่อนส่งให้ TOT review
  - ใส่ Authorization: Bearer {token} ทุกอัน พร้อม อธิบายว่าใช้ token ของ user หรือ api token


  **alpha-9 change log**
  - เพิ่ม user case
  - ปรับ api เกี่ยกับการค้นหาบางอันให้ใช้ query string แทน
  - ปรับ api เปลี่ยนภาหนะ `GET` เป็น `PUT`
  - ปรับ path api บางอัน `checkin`, `checkout`, `protocol`
  - ปรับโครงสร้าง รายงานปฏิบัติงานให้เก็บข้อมูล `ผู้สร้าง` และ `ผู้แก้ไข` ด้วย


  **alpha-8 change log**
  - ปรับโครงสร้าง `MisRoom` ให้ผูกข้อมูลกับ `ผู้ประสบเหตุ` ได้ 1 คน
  - `MisRoom` สามารถใส่สถานะได้ว่า ตอนนี้ผู้ป่วยอยู่รถคันไหน
  - ปรับ `MisRoom` สามารถใส่ข้อมูลรถได้ หลายคัน
  - เพิ่ม note ในส่วนส่งรายงาน
  - เพิ่มชุดข้อมูล Gps ใช้สำหรับส่งค่าตำแหน่งบุคคล
  - เพิ่ม api สำหรับปรับสถานะผู้ป่วย เขียว เหลือง แดง ระหว่างปฏิบัติงาน แบบ Realtime


  **alpha-7 change log**
  - แก้ไขชื่อ field ในโครงสร้าง `Drugallergy` ให้เป็นไปตาม 52file(DRUGALLERGY)
  - แก้ขื่อ api `ข้อมูลผู้ประสบเหตุ` เป็น `ข้อมูลการรับแจ้งเหตุ`
  - เพิ่มข้อมูล field เลขชุดปฏิบัติการ(`operatingSetID`) ตอนสร้างห้อง MIS


  **alpha-6 change log**
  - เพิ่มโครงสร้าง `MedicalInformation`
  - ย้ายข้อมูล สิทธิ์การรักษา, การแพ้ยา ไปไว้ในโครงสร้างข้อมูล `MedicalInformation`
  - ตัดข้อมูลประวัดติ `รายละเอียดทางการแพทย์` ในชุดข้อมูล ผู้ประสบเหตุ(`Victim`) มาไว้ในข้อมูล คน(`Person`) ในตัวแปร medicalInformation
  - เพิ่มข้อมูลหมู่เลือดใน `MedicalInformation`
  - เพิ่มโครงสร้าง การแพ้ยา(`Drugallergy`) โดยปรับจาก 52file(DRUGALLERGY)


  **alpha-5 change log**
  - หมายเลขห้อง MIS ปรับจาก `เลขปฏิบัติการ` เป็น `misRoomId` เป็นเลขห้อง MIS ของระบบเอง เพื่อให้ OIS ใช้อ้างอิง เผื่อมีการเปลี่ยนภายหลังจะยืดหยุ่นกว่า
  - เพิ่ม api ให้สามารถค้นหาห้องด้วย `เลขปฏิบัติการ`
  - ปรับ api ในส่วนการค้นหาให้คืนค่า `misRoomId`
  - ปรับ api อัพเดทข้อมูลห้องให้ใช้ `misRoomId`
  - ปรับโครงสร้างข้อมูล คน(`Person`) ให้แนบ `สิทธิ์การรักษา` กับ `ประวัดิการแพ้ยา` มาด้วย


  **alpha-4 change log**
  - เพิ่มรายละเอียดโครงสร้าง Data Structures
  - ปรับ link หน้าจอสำหรับแสดงผล MIS ให้อ้างอิงตามรหัสศูนย์สั่งการ


  **alpha-3 change log**
  - แก้ไขตอน สร้าง/อัพเดท ห้อง MIS ให้อิงกับ `เลขปฏิบัติการ`
  - แก้ไข ผู้ประสบเหตุขึ้นรถ ให้ใช้ `เลขปฏิบัติการ` กับ `เลขผู้ประสบเหต`ุ
  - link ห้อง MIS ปรับจาก `เลขผู้ประสบเหตุ` เป็นอิงกับ `เลขปฏิบัติการ`
  - link ข้อมูล Telemed ใช้ `เลขผู้ประสบเหตุ` ในการอ้างอิง โดยตัว link จะส่งไปกับรายงานการปฏิบัติงานด้วย
  - ปรับโครงสร้าง Vehicle


  **alpha-2 change log**
  - เพิ่มตัวแปร type ใน object


  เอกสารการสเปค **MIS API.** สำหรับแลกเปลี่ยนข้อมูลกับ OIS มิใช่เอกสารสำหรับการใช้งานภายในระบบ
  ชื่อ และ type ตัวแปรจะใช้ตามโครงสร้างที่เกษตรกำหนดมา

  ตัวโครงสร้างส่วนใหญ่จะมี field ที่ใช้ link หากันได้หมด

  ไฟล์โครงการเอกสาร https://github.com/lionants02/mis-api-doc

  <img src="data\image\api_gateway.svg" width="100%">

  ภาพแสดงการเชื่อมต่อกับระบบ OIS
  - การเรียกใช้ api ภายใน MIS จะเชื่อมผ่าน MIS api gateway ทั้งหมด
  - สำหรับการส่ง Notification จะทำผ่านระบบ Message Queue


  รูปแบบวันที่เวลาที่ใช้ `YYYY-MM-DDThh:mm:ss.s`
  - YYYY = four-digit year
  - MM   = two-digit month (01=January, etc.)
  - DD   = two-digit day of month (01 through 31)
  - hh   = two digits of hour (00 through 23) (am/pm NOT allowed)
  - mm   = two digits of minute (00 through 59)
  - ss   = two digits of second (00 through 59)
  - s    = one or more digits representing a decimal fraction of a second


  รูปแบบรหัสสิทธิ์การรักษาพยาบาลที่ใช้ http://www.thcc.or.th/treatment.php


  Use Case Diagram
  <a href="data\image\full.svg">
    <img src="data\image\full.svg" width="100%">
  </a>

# Group Authorization

  การใช้งาน จำเป็นต้องมี api key กำลังหาข้อสรุป

# Group MIS ปฏิบัติการ

## เปิดห้อง MIS [POST /room]

  <img src="data\image\create_dispatch.svg">

  1 ห้อง MIS ต่อ ผู้ป่วย 1 คน

  โครงสร้างที่ใช้
  - ใช้โครงสร้าง `ชุดข้อมูลการรับแจ้งเหตุ` มาปรับ

+ Request (application/json)

    + Headers

            Authorization: Bearer {token}

    + Attributes (MisRoom , fixed-type)

+ Response 201 (application/json)

    + Attributes (MisRoomReturn , fixed-type)

+ Response 409 (application/json)

    + Attributes (object , fixed-type)
      + message: `พบการสร้างห้องซ้ำ` (string)

## อัพเดทข้อมูลห้อง MIS [PUT /room/{misRoomId}]

  <img src="data\image\update_dispatch.svg">

  ในกรณี OIS ต้องการอัพเดทข้อมูลปฏิบัติการ ในระหว่างกำลังปฏิบัติงาน จะใช้เลข `misRoomId` ในการอ้างอิงชุดข้อมูล

+ Parameters
    + misRoomId: `999888` (number,required) - หมายเลขห้อง MIS
      ``หมายเลขห้อง MIS``

+ Request (application/json)

    + Headers

            Authorization: Bearer {token}

    + Attributes (MisRoom , fixed-type)

+ Response 200 (application/json)

    + Attributes (MisRoom , fixed-type)

+ Response 404 (application/json)

    + Attributes (NotFound , fixed-type)

+ Response 409 (application/json)

    + Attributes (object , fixed-type)
      + message: `ชุดข้อมูล operationNumber ไม่ตรงกับที่ระบุ` (string)

## ปิดห้อง MIS [DELETE /room/{misRoomId}]

+ Parameters
    + misRoomId: `2222` (number, required)
      ``รหัสรายละเอียดผู้ประสบเหตุ คือ รหัสคนที่เกิดเหตุ``

+ Request (application/json)

    + Headers

            Authorization: Bearer {token}

+ Response 200 (application/json)

    + Attributes (object , fixed-type)
      + status: `200` (string) - status code

+ Response 404 (application/json)

    + Attributes (NotFound , fixed-type)

## ค้นหาห้อง MIS [GET /room/{?officeID,operationNumber}]

  ปรับเป็นใช้ query ทั้งหมด

  <img src="data\image\ois_get_room_in_event.svg">

  รายการห้อง MIS คืนค่าแบบ Array

+ Parameters
    + officeID: `1010` (number, optional)
      ``หน่วยปฏิบัติการ (ทะเบียนหน่วยงาน)``
    + operationNumber: `5354` (number,required)
      ``เลขปฏิบัติงาน คือ เลขสั่งรถออกปฏิบัติงาน``

+ Request (application/json)

    + Headers

            Authorization: Bearer {token}

+ Response 200 (application/json)

    + Attributes (array[MisRoomReturn] , fixed-type)

+ Response 404 (application/json)

    + Attributes (NotFound , fixed-type)

## ผู้ประสบเหตุ ขึ้น/เปลี่ยน พาหนะ [POST /patient/changevehicle/{eventPatientId}]

  <img src="data\image\change_car.svg">

  ในกรณีที่มีพาหนะ หลายอย่างออกไปรับผู้ประสบเหตุ 1 คน เช่น มีการใช้รถรวมกันระว่าง FR กับ ALS ประสานงานกันรับผู้ประสบเหตุ หลังส่งข้อมูลมา ฝั่ง MIS จะเรียก api

+ Parameters
    + eventPatientId: `2222` (number, required)
      ``รหัสรายละเอียดผู้ประสบเหตุ``

+ Request (application/json)

    + Headers

            Authorization: Bearer {token}

    + Attributes (object , fixed-type)
      + message: `OK` (string)

+ Response 200 (application/json)

    + Attributes (ChangeVehicle , fixed-type)

+ Response 404 (application/json)

    + Attributes (object , fixed-type)
      + message: `ไม่พบเลข operationNumber ที่ระบุ` (string)

## ส่งรายปฏิบัติงาน [POST /protocol/{eventPatientId}]

  <img src="data\image\send_report_to_mis.svg">

  ส่งรายงานปฏิบัติงาน ต่อ 1 ผู้ประสบเหตุ

+ Parameters
    + eventPatientId: `2222` (number, required)
      ``รหัสรายละเอียดผู้ประสบเหตุ``

+ Request (application/json)

    + Headers

            Authorization: Bearer {token}

    + Attributes (Protocol , fixed-type)

+ Response 201 (application/json)

    + Attributes (Protocol , fixed-type)

+ Response 409 (application/json)

    + Attributes (object , fixed-type)
      + message: `พบความผิดพลาด ชุดข้อมูลอาจถูกสร้างไปแล้ว` (string)

## แก้ไขรายงานปฏิบัติงาน [PUT /protocol/{eventPatientId}]

  <img src="data\image\update_report_to_mis.svg">

  หลังจากส่งรายงานการปฏิบัติงานแล้วอนุญาติให้แก้ไขได้ภายใน 24 ชม. หลังปิดเคส

+ Parameters
    + eventPatientId: `2222` (number, required)
      ``รหัสรายละเอียดผู้ประสบเหตุ``

+ Request (application/json)

    + Headers

            Authorization: Bearer {token}

    + Attributes (Protocol , fixed-type)

+ Response 200 (application/json)

    + Attributes (Protocol , fixed-type)

+ Response 404 (application/json)

    + Attributes (NotFound , fixed-type)

## ดึงรายงานปฏิบัติงาน [GET /protocol/{eventPatientId}]

  <img src="data\image\get_report_from_mis.svg">

  เรียกดูข้อมูลการปฏิบัติงาน ของผู้ประสบเหตุ

+ Parameters
    + eventPatientId: `2222` (number, required)
      ``รหัสรายละเอียดผู้ประสบเหตุ``

+ Request (application/json)

    + Headers

            Authorization: Bearer {token}

+ Response 200 (application/json)

    + Attributes (Protocol , fixed-type)

+ Response 404 (application/json)

    + Attributes (NotFound , fixed-type)

# Group OIS ปฏิบัติการ

  HOST และ link จะเป็นของทาง OIS

  ทาง OIS จะต้องเป็นผู้พัฒนาให้ ใช้ Token ที่ได้มาจาก auth service เลย

  https://api.ois.tot.co.th/ois/report/{eventPatientId}

## อัพเดทสถานะผู้ป่วย [PUT /ois/victim/{eventPatientId}]

  อัพเดทสถานะผู้ป่วย เขียน เหลือง แดง

+ Parameters
    + eventPatientId: `2222` (number, required)
      ``รหัสรายละเอียดผู้ประสบเหตุ``

+ Request (application/json)

    + Headers

            Authorization: Bearer {token}

    + Attributes (VictimStatus , fixed-type)

+ Response 200 (application/json)

    + Attributes (VictimStatus , fixed-type)

+ Response 404 (application/json)

    + Attributes (NotFound , fixed-type)

# Group MIS Protocol

## Offline protocol [GET /protocol/offline{?query}]

  <img src="data\image\ois_get_offline_doc.svg">

  ประสานกับคุณ เอ ว่าได้เก็บข้อมูล offline protocol แยกเป็นหัวข้อหรือปล่าว

+ Parameters
    + query: `หมดสติ` (string)
      ``หัวข้อ หรือ คำค้นหา``

+ Response 200 (application/json)

    + Attributes (array[OfflineProtocal], fixed-type)

# Group MIS UI

## UI สำหรับแสดงผล MIS [GET /room/{misRoomId}]

  หน้าจอส่วนแสดงผลที่จะนำไปใส่ในระบบ OIS ความกว้าง ขนาดหน้าจอ ถูก กำหนดมาแล้ว เราจะใช้ขนาด 683 x 768 pixels

  <img src="data\image\LINE_b9WEtafJT4.png">

+ Parameters
    + misRoomId: `999888` (number,required)
      ``หมายเลขห้อง MIS``

+ Request (application/json)

    + Headers

            Authorization: Bearer {token}

+ Response 200 (text/html)

## ลิงค์ข้อมูล Telemed [GET /telemed/link/{eventPatientId}]

  ลิงค์ข้อมูล Telemed จะใส่ไปกับข้อมูลตอนส่งรายงานด้วย

  ต้องประสานพี่โจ้ ด่วน

+ Parameters
    + eventPatientId: `2222` (number, fixed-type)
      ``รหัสรายละเอียดผู้ประสบเหตุ หรือก็คือ รหัสคนที่เกิดเหตุ``

+ Request (application/json)

    + Headers

            Authorization: Bearer {token}

+ Response 200 (application/json)

    + Attributes (object, fixed-type)
      + type: `TelemedLink` (string,fixed) - ค่าคงที่
      + videoLink: `https://` (string) - ลิงค์วีดีโอ
      + vitalsignsLink: `https://` (string) - ลิงค์สัญญาณชีพ
      + ekgLink: `https://` (string) - ลิงค์ EKG/ECG

# Group MIS Notification

## ศูนย์เรียกแพทย์เข้าห้อง [PUT /notification]

  **ยังไม่ต้องพัฒนา จะใช้จอ MIS เลย**

  <img src="data\image\center_call_medical.svg">

  <img src="data\image\center_call_medical_001.svg">

  เมื่อศูนย์ต้องการเรียกแพทย์ที่เข้าเวรอยู่ ไปยังห้องที่ระบุ

+ Request (application/json)

    + Attributes (object , fixed-type)
      + event: `send_operator` (string, required) - กำหนดค่าคงที่
      + randomNumber: `965` (number,required) - ให้สุ่มตัวเลขใส่ค่าในช่องนี้
      + misRoomId: `999888` (number,required) - หมายเลขห้อง MIS
      + officeID: `1010` (number, required) - หน่วยปฏิบัติการ (เลขทะเบียนหน่วยงาน)
      + operatorID: `111222` (number, required) - รหัสทะเบียนเจ้าหน้าที่

## แพทย์เรียกศูนย์เข้าห้อง [PUT /notification]

  **ยังไม่ต้องพัฒนา จะใช้จอ MIS เลย**

  <img src="data\image\medical_call_center.svg">

  <img src="data\image\medical_call_center_001.svg">

  ใช้เมื่อแพทย์ ต้องการส่งข้อความหาศูนย์ ในที่นี้จะใช้สำหรับ ในกรณีที่แพทย์ ต้องการเรียกศูนย์เข้าห้อง

+ Request (application/json)

    + Attributes (object , fixed-type)
      + event: `send_center` (string, required) - กำหนดค่าคงที่
      + randomNumber: `124` (number,required) - ให้สุ่มตัวเลขใส่ค่าในช่องนี้
      + operatorID: `111222` (number, required) - รหัสทะเบียนเจ้าหน้าที่
      + misRoomId: `999888` (number,required) - หมายเลขห้อง MIS เลขห้อง=operationNumber
      + officeID: `1010` (number, required) - หน่วยปฏิบัติการที่จะส่งข้อความถึง (เลขทะเบียนหน่วยงาน)
      + message: `แพทย์เรียก` (string, required) - ข้อความ

## ส่ง Notification ไป OIS [PUT /notification]

  **Message Queue**

  **ไม่ต้องพัฒนา จะใช้จอ MIS เลย**

  <img src="data\image\notification_system_002.svg">

  <img src="data\image\notification_system_003.svg">

  ในที่นี้สำหรับใช้ในกรณี mis ต้องการส่ง Notification ไปยังศูนย์สั่งการ

+ Request (application/json)

    + Attributes (object , fixed-type)
      + event: `send_center` (string, required) - กำหนดค่าคงที่
      + randomNumber: `6324` (number,required) - ให้สุ่มตัวเลขใส่ค่าในช่องนี้
      + operatorID: `111222` (number, required) - รหัสทะเบียนเจ้าหน้าที่
      + officeID: `1010` (number, required) - หน่วยปฏิบัติการที่จะส่งให้ (ทะเบียนหน่วยงาน)
      + message: `จะมีเคสส่งข้ามเขตไปหา` (string, required) - ข้อความ Notification

# Group OIS จัดการเวร

  HOST และ link จะเป็นของทาง OIS

  ทาง OIS จะต้องเป็นผู้พัฒนาให้

## เข้าเวร [POST /operator/{operatorID}/checkin]

+ Parameters
    + operatorID: `111222` (number, required)
      ``รหัสทะเบียนเจ้าหน้าที่``

+ Response 200 (application/json)

    + Attributes (object , fixed-type)
      + checkIn: `true` (boolean, required) - สถานะเข้าเวร/ออกเวร true=เข้าเวร, false=ออกเวร

## เข้าเวร [POST /operator/{operatorID}/checkout]

+ Parameters
    + operatorID: `111222` (number, required)
      ``รหัสทะเบียนเจ้าหน้าที่``

+ Request (application/json)

    + Headers

            Authorization: Bearer {token}

+ Response 200 (application/json)

    + Attributes (object , fixed-type)
      + checkIn: `true` (boolean, required) - สถานะเข้าเวร/ออกเวร true=เข้าเวร, false=ออกเวร

# Group OIS Lookup

  HOST และ link จะเป็นของทาง OIS

  ทาง OIS จะต้องเป็นผู้พัฒนาให้

## ข้อมูลการรับแจ้งเหตุ [GET /eventpatient/{eventPatientId}]

  <img src="data\image\mis_get_eventn_patient_from_ois.svg">

  ข้อมูลการรับแจ้งเหตุ ของผู้ประสบเหตุ

+ Parameters
    + eventPatientId: `2222` (number, required)
      ``รหัสรายละเอียดผู้ประสบเหตุ``

+ Request (application/json)

    + Headers

            Authorization: Bearer {token}

+ Response 200 (application/json)

    + Attributes (Victim , fixed-type)

+ Response 404 (application/json)
    + Attributes (NotFound , fixed-type)


## ค้นหาข้อมูลรถปฏิบัติการ [GET /car{?vehicleId,operatingSetID,eventPatientId,operationNumber}]

  ค้นหาข้อมูลรถปฏิบัติการ ตามพารามิเตอร์ที่ระบุ ต้องใส่ค่ามาอย่างน้อย 1 ค่า

+ Parameters
    + vehicleId: `3324` (number, optional)
      ``รหัสรถ``
    + operatingSetID: `23154` (number, optional)
      ``เลขชุดปฏิบัติการ (ทะเบียนชุดปฏิบัติการ) ที่ใช้ พาหนะนี้อยู่``
    + eventPatientId: `2222` (number, optional)
      ``รหัสรายละเอียดผู้ประสบเหตุ คือ รหัสคนที่เกิดเหตุ ที่อยู่บนพาหนะ``
    + operationNumber: `5354` (number,optional)
      ``เลขปฏิบัติงาน คือ เลขสั่งรถออกปฏิบัติงาน ที่ผูกกับพาหนะนี้อยู่``


+ Request (application/json)

    + Headers

            Authorization: Bearer {token}

+ Response 200 (application/json)

    + Attributes (array[Vehicle] , fixed-type)

+ Response 404 (application/json)
    + Attributes (NotFound , fixed-type)

## ข้อมูลรถปฏิบัติการ [GET /car/{vehicleId}]

  คืนค่าข้อมูล `รถปฏิบัติการ` ที่ระบุ

+ Parameters
    + vehicleId: `3324` (number, required)
      ``รหัสรถ``

+ Request (application/json)

    + Headers

            Authorization: Bearer {token}

+ Response 200 (application/json)

    + Attributes (Vehicle , fixed-type)

## Speciallist Search [GET /specialist{?province,query}]

  <img src="data\image\mis_get_specialist_from_ois.svg">

  ค้นหารายการการ Speciallist

+ Parameters
    + province: `สระแก้ว` (string)
      ``ชื่อจังหวัด``
    + query: `กระดูก` (string)
      ``ข้อมูล query อื่นๆ เช่น กระดูก, หัวใจ, สมอง``

+ Request (application/json)

    + Headers

            Authorization: Bearer {token}

+ Response 200 (application/json)

    + Attributes (array[Speciallist] , fixed-type)

## Speciallist [GET /specialist/{id}]

  <img src="data\image\mis_get_specialist_from_ois.svg">

  ดึงข้อมูล Speciallist

+ Parameters
    + id: `12346` (string)
      ``เลขใบ ว.``

+ Request (application/json)

    + Headers

            Authorization: Bearer {token}

+ Response 200 (application/json)

    + Attributes (Speciallist , fixed-type)

## สิทธิ์การรักษา/ประวัติการรักษา/ข้อมูลส่วนบุคคล [GET /patient/{?id_card}]

  <img src="data\image\mis_get_person_from_ois.svg">

  สิทธิ์/ประวัดิการรักษา รวมถึงข้อมูลส่วนบุคคลอื่นๆ

+ Parameters
    + id_card: `3250400000001` (string, required)
      ``หมายเลขประจำตัวประชาชน``

+ Request (application/json)

    + Headers

            Authorization: Bearer {token}

+ Response 200 (application/json)
    + Attributes (Person, fixed-type)

+ Response 404 (application/json)
    + Attributes (NotFound , fixed-type)

## สมาชิกในทีมปฏิบัติการ [GET /operating/{operatingSetID}]

  <img src="data\image\mis_get_team_from_ois.svg">

  + Parameters
      + operatingSetID: `23154` (number, required)
        ``เลขชุดปฏิบัติการ (ทะเบียนชุดปฏิบัติการ)``

+ Request (application/json)

    + Headers

            Authorization: Bearer {token}

+ Response 200 (application/json)
    + Attributes (array[User], fixed-type)

+ Response 404 (application/json)
    + Attributes (NotFound , fixed-type)

## ค้นหาหน่วยงาน [GET /organization{?query}]

  <img src="data\image\ois_search_org.svg">

  ดึงข้อมูลชื่อหน่วยงานจาก OIS ถ้าไม่ใส่ query จะส่งกลับรายชื่อหน่วยงานทั้งหมด

+ Parameters
    + query: `สระแก้ว` (string, optional)
      ``ข้อมูลที่ต้องการค้นหา``

+ Request (application/json)

    + Headers

            Authorization: Bearer {token}

+ Response 200 (application/json)
    + Attributes (array, fixed-type)
        + (object)
            + officeID: `1010` (number ,required) - รหัสหน่วยงาน
            + OfficeNameTh: `โรงพยาบาลวิภาวดี` (string ,required) - ชื่อหน่วยงานไทย
            + OfficeNameEn: `Vipa` (string ,required) - ชื่อหน่วยงานอังกฤษ

## ข้อมูลหน่วยงาน [GET /organization/{officeID}]

  <img src="data\image\ois_get_org.svg">

  ดึงข้อมูลหน่วยงานจาก OIS

+ Parameters
    + officeID: `1010` (string, required)
      ``รหัสหน่วยงาน``

+ Request (application/json)

    + Headers

            Authorization: Bearer {token}

+ Response 200 (application/json)
    + Attributes (Organization, fixed-type)

+ Response 404 (application/json)
    + Attributes (NotFound , fixed-type)

# Group OIS GPS

# Send GPS [PUT /gps/{personId}/]

  ส่งข้อมูล GPS เข้าระบบ ผ่านระบบ Message Queue

+ Parameters
    + personId: `1354` (number, required)
      ``รหัสข้อมูลบุคคล``

+ Request (application/json)

    + Attributes (object , fixed-type)
      + event: `send_gps` (string, required) - กำหนดค่าคงที่
      + randomNumber: `6324` (number,required) - ให้สุ่มตัวเลขใส่ค่าในช่องนี้
      + personId: `1354` (number, required) - รหัสข้อมูลบุคคล
      + gps (array[Gps], fixed-type, required) - ข้อมูล gps

# Group Data Structures

  เป็นโครงสร้างในรูปแบบ **API Blueprint** หรือไม่ อาจจะดูที่ json schema ของตัว api เลยก็ได้

  ```
## Data Structures

# MisRoom (object)
+ type: `MisRoom` (string, fixed, required) - ค่าคงที่
+ officeID: `1010` (number, required) - หน่วยปฏิบัติการ (ทะเบียนหน่วยงาน)
+ eventPatientId: 2222 (array[number], fixed-type) - รหัสรายละเอียดผู้ประสบเหตุ คือ รหัสคนที่เกิดเหตุ
+ vehicleId: 3324, 3368 (array[number], fixed-type, required) - รายการ รหัสพาหนะ ที่ออกปฏิบัติการ
+ level (VehicleLevel) - ระดับปฏิบัติการ

# MisRoomReturn (object)
+ type: `MisRoomReturn` (string, fixed, required) - ค่าคงที่
+ misRoomId: `999888` (number,required) - หมายเลขห้อง MIS
+ detail (MisRoom) - ข้อมูลรายเอียดห้อง MIS

# Victim (object)
+ type: `Victim` (string, fixed, required) - ค่าคงที่
+ eventPatientId: `2222` (number, required) - รหัสรายละเอียดผู้ประสบเหตุ
+ vehicle: 3324 (number,nullable, optional) - พาหนะที่ผู้ประสบเหตุ กำลังโดยสารอยู่ ถ้ายังไม่ขึ้น ยังไม่ต้องกำหนดค่า
+ eventDateTime: `2020-04-23T18:25:43.511` (string, required) - เวลารับแจ้ง มีรูปแบบ YYYY-MM-DDThh:mm:ss.s มีคำอธิบายในส่วน Introduction
+ cbdCode: `CBD25` (string) - อาการผู้ประสบเหตุที่แจ้ง
+ patientName: `002321` (number) - ชื่อผู้ประสบเหตุ ชุดข้อมูลบุคคล personId ให้ดู object Person
+ citizenID: `3250400000001` (string) - หมายเลขประจำตัวประชาชน
+ emergencyLevelCode: `02` (string, required) - ระดับความรุนแรง 01=ขาว, 02=เขียว, 03=เหลือง, 04=แดง, 05=ดำ

# VictimStatus (object)
+ type: `VictimStatus` (string, fixed, required) - ค่าคงที่
+ eventPatientId: `2222` (number, required) - รหัสรายละเอียดผู้ประสบเหตุ
+ color (Color, fixed-type, required) - สถานะ เขียว เหลือง แดง
+ timestamp : `2020-04-23T18:25:43.511` (string, required) - เวลารับแจ้ง มีรูปแบบ YYYY-MM-DDThh:mm:ss.s มีคำอธิบายในส่วน Introduction

# Person (object)
+ type: `Person` (string, fixed, required) - ค่าคงที่
+ personId: `002321` (number, required) - รหัสข้อมูลบุคคล
+ citizenID: `3250400000001` (string) - หมายเลขประจำตัวประชาชน
+ prefixCode: `001` (string) - คำนำหน้าชื่อ ไฟล์ prefix.xlsx
+ givenName: `แสม` (string) - ชื่อตัว
+ familyName: `แสนซน` (string) - ชื่อสกุล
+ genderCode: `1` (number) - เพศ 1=ชาย (male), 2=หญิง (Female), 9=ไม่สามารถระบุได้ (not applicable)
+ birthDate: `1990-01-25` (string) - วันเกิด
+ birthJurisdiction: `ลพบุรี` (string) - สถานที่เกิด จังหวัด
+ nationalityCode: `TH` (string) - สัญชาติ File Nationality.xlsx
+ lifeStatusCode: `LI` (string) - สถานะการมีชีวิต EN=เสียชีวิต, LI=มีชีวิต
+ disabilityCode: `00` (string) - ความพิการ File Disability.xlsx
+ medicalInformation (MedicalInformation) - ข้อมูลทางการแพทย์

# MedicalInformation
+ type: `MedicalInformation` (string, fixed, required) - ค่าคงที่
+ personId: `002321` (number, required) - รหัสข้อมูลบุคคล
+ instype (string) - สิทธิการรักษา 52file(Service) http://www.thcc.or.th/treatment.php
+ drugallergy (array[Drugallergy], optional) - ประวัติการแพ้ยา โครงสร้างปรับตามไฟล์ 52file(DRUGALLERGY)
+ recentHospCode (string) - รหัสโรงพยาบาลที่รักษาล่าสุด 52file(PROCEDURE_REFER)
+ recentHospName (string) - ชื่อโรงพยาบาลที่รักษาล่าสุด
+ bloodGroup: `AB` (string) - หมู่เลือด
+ bloodGroupAH: `AB` (string) - หมู่เลือด RH

# Drugallergy
+ type: `Drugallergy` (string, fixed, required) - ค่าคงที่
+ personId: `002321` (number, required) - รหัสข้อมูลบุคคล
+ drugCode (string, optional) - รหัสมาตราฐานด้านยา 24 หลัก http://thcc.or.th/homemedicin.php
+ drugName (string, optional) - ชื่อยาที่แพ้
+ typeDX: `1` (string, optional) -  ประเภทการวินิจฉยการแพ้ยา 5 ประเภท (1= certain, 2= probable,
 3= possible, 4= unlikely, 5= unclassified)
+ aLevel: `1` (string, optional) - ระดบความรัุนแรงของการแพ้ยา 8 ระดับ  1.ไม่ร้ายแรง (Non-serious), 2.ร้ายแรง - เสียชีวิต (Death), 3.ร้ายแรง - อันตรายถึงชีวิต (Life-threatening), 4.ร้ายแรง - ต้องเข้ารับการรักษาในโรงพยาบาล (Hospitalization-initial), 5.ร้ายแรง - ทําให้เพิ่มระยะเวลาในการรักษานานขึ้น (Hospitalization-prolonged), 6.ร้ายแรง - พิการ (Disability), 7.ร้ายแรง - เป็นเหตุให้เกิดความผิดปกติแต่กำเนิด (Congenital anomaly), 8.ร้ายแรง-อื่นๆ(คือ เหตุการณ์ร้ายแรงอื่น ๆ ที่สำคัญทางการแพทย์ ซึ่งส่งผลให้ผู้ป่วยต้องได้รับการรักษาด้วยวิธีอื่น เช่น การผ่านตัด กรณีนี้รวมถึงผู้ป่วย ซึ่งเกิดปัญหาการหายใจติดขัดอย่างรุ่นแรง และต้องรักษาในห้องฉุกเฉิน ผู้ป่วยเกิดการอาการชักหมดสติ ระบบเลือดผิดปกติเป็นต้น
+ symptom (string, required) - ลักษณะอาการของการแพ้ยา

# Organization (object)
+ type: `Organization` (string, fixed, required) - ค่าคงที่
+ officeID: `1010` (string, required) - รหัสหน่วยงาน
+ OfficeNameTh: `โรงพยาบาลวิภาวดี` (string, required) - ชื่อหน่วยงาน(ไทย)
+ OfficeNameEn: `Vipa` (string) - ชื่อหน่วยงาน(อังกฤษ)
+ ministryCode: `17` (string) - สังกัดกระทรวง/ทบวง File Ministry.xlsx กรมประชาสัมพันธ์ The Government Public Relations Department (PRD)
+ officeTypeCode (string) - ประเภทหน่วยงาน
+ typeOfWorkCode: `02` (string) - ประเภทงาน 01=หน่วยปฏิบัติการดูแลผู้ประสบเหตุและขนส่ง (ชื่อธนาคาร สาขา เลขบัญชี ประเภทบัญชี ชื่อบัญชี), 02=หน่วยรับแจ้งภาวะฉุกเฉินและสั่งการทางการแพทย์, 03=โรงพยาบาลหรือสถานพยาบาล(จำนวน ความเชี่ยวชาญเฉพาะทาง เลือกประเภทโรงพยาบาล), 04=หน่วยบริหารจัดการระบบ, 05=หน่วยสนับสนุนอื่นๆ

# OfflineProtocal (object)
+ type: `OfflineProtocal` (string, fixed, required) - ค่าคงที่
+ offlinePotocalName: `example` (string, required) - ชื่อแนวทางการปฏิบัติงาน
+ AttechFile: `https://mis.tot.co.th/doc/offline/xxx.pdf` (string, required) - เอกสารแนวทางปฏิบัติงาน

# Protocol (object)
+ type: `Protocol` (string, fixed, required) - ค่าคงที่
+ eventPatientId: `2222` (number, required) - รหัสรายละเอียดผู้ประสบเหตุ
+ vitalsignsLink: `https://` (string) - ลิงค์สัญญาณชีพ
+ ekgLink: `https://` (string) - ลิงค์ EKG/ECG
+ detail (array[TreatmentInformation],fixed-type)
+ note: `ดาม แขน ขา คอ` (string) - note อื่นๆ
+ update: `2020-04-23T18:25:43.511` (string, required) - วันเวลาที่มีการแก้ไขข้อมูล มีรูปแบบ YYYY-MM-DDThh:mm:ss.s

# TreatmentInformation (object)
+ type: `TreatmentInformation` (string, fixed, required) - ค่าคงที่
+ createBy: `2323` (number,required) - สร้างโดยใคร
+ updateBy: `3424` (number,required) - อัพเดทโดยใคร ตอนแรก จะเป็นอันเดียวกับ createBy
+ procedureName: `ดาม` (string, required) - ชื่อหัตถการหรือการรักษา 52file(PROCEDURE_REFER)
+ pDescription: `ดามคอ แขน และ ขา` (string, required) - คำอธิบายการทำหัตถการหรือการรักษา 52file(PROCEDURE_REFER)
+ doIt: `true` (boolean, nullable) - ได้ทำหรือไม่ null=ไม่ทราบ, true=ทำ, false=ไม่ได้ทำ
+ update: `2020-04-23T18:25:43.511` (string, required) - วันเวลาที่มีการแก้ไขข้อมูล มีรูปแบบ YYYY-MM-DDThh:mm:ss.s มีคำอธิบายในส่วน Introduction
+ timestamp: `2020-04-23T18:25:43.511` (string, required) - วันเวลาที่มีการแก้ไขข้อมูล มีรูปแบบ YYYY-MM-DDThh:mm:ss.s มีคำอธิบายในส่วน Introduction

# User (object)
+ type: `User` (string, fixed, required) - ค่าคงที่
+ personId: `1354` (number, required) - รหัสข้อมูลบุคคล
+ operatorID: `111222` (number, required) - รหัสทะเบียนเจ้าหน้าที่
+ officeID: `1010` (number, required) - หน่วยงานที่สังกัด
+ prefixCode: `001` (string, required) - คำนำหน้าชื่อ ไฟล์ prefix.xlsx
+ givenName: `แสม` (string, required) - ชื่อตัว
+ familyName: `แสนซน` (string, required) - ชื่อสกุล
+ genderCode: `1` (number, required) - เพศ 1=ชาย (male), 2=หญิง (Female), 9=ไม่สามารถระบุได้ (not applicable)
+ operationStatusCode: `1` (number, required) - สถานะหยุดปฏิบัติการ 0=ลา, 1=พร้อมปฏิบัติงาน, 2=กำลังปฏิบัติงาน, 3=พัก
+ operationTypeCode: `10` (string, required) - หน้าที่ของเจ้าหน้าที่ 01=พนักงานช่วยเหลือผู้ป่วยเบื้องต้น, 02=พนักงานกู้ชีพ (BLS), 03=นักกู้ชีพวิชาชีพ (ALS), 04=By Stander, 05=พยาบาลควบคุมการรับแจ้งและคัดแยก, 06=พยาบาลถ่ายทอดคำสั่งแพทย์, 07=แพทย์ผู้อำนวยการ, 08=พยาบาลคัดแยกผู้ป่วยฉุกเฉิน, 09=ผู้ช่วยเหลือผู้ป่วยขับรถได้, 10=พยักงานกู้ชีพ (ILS), 11=พยาบาลกู้ชีพ, 12=พนักงานรับแจ้งและคัดแยกภาวะฉุกเฉิน, 13=พนักงานถ่ายทอดคำสั่งแพทย์, 14=แพทย์ผู้สั่งการเชื่อมตรง, 15=พนักงานคัดแยกผู้ป่วยฉุกเฉิน, 16=แพทย์ฉุกเฉิน

# Speciallist
+ type: `Speciallist` (string, fixed, required) - ค่าคงที่
+ id: `12346` (string, required) - เลขใบ ว.
+ nameTh: `สง กรานต์` (string) - ชือภาษาไทย
+ nameEn: `Song Kran` (string) - ชื่อภาษาอังกฤษ
+ officeID: `1010` (number) - หน่วยงานที่สังกัด
+ genderCode: `1` (number, required) - เพศ 1=ชาย (male), 2=หญิง (Female), 9=ไม่สามารถระบุได้ (not applicable)
+ tel: `0649999998` (string) - เบอร์โทรศัพท์
+ knowledge: `สาขา ออร์โธปิดิกส์ ( Orthopedics )`,`สาขา แพทย์คนชรา หมอคนแก่ (Geriatrician)` (array[string], fixed-type) - รายการความรู้เฉพาะทาง

# Vehicle (object)
+ type: `Vehicle` (string, fixed, required) - ค่าคงที่
+ vehicleId: `3324` (number, required) - รหัสพาหนะ
+ operationNumber: `5354` (number,required) - เลขปฏิบัติงาน คือ เลขสั่งรถออกปฏิบัติงาน ที่ผูกกับพาหนะนี้อยู่
+ operatingSetID: `23154` (number, required) - เลขชุดปฏิบัติการ (ทะเบียนชุดปฏิบัติการ) ที่ใช้ พาหนะนี้อยู่
+ eventPatientId: 2222,2345 (array[number], fixed-type) - รหัสรายละเอียดผู้ประสบเหตุ คือ รหัสคนที่เกิดเหตุ ที่อยู่บนพาหนะ
+ category: `Boat` (VehicleCategory) - ประเภทพาหนะ
+ vehicleNumber: `6กจ9999` (string) - เลขทะเบียนรถ
+ province: `สระแก้ว` (string) - จัดหวัด

# Gps (object)
+ type: `Gps` (string, fixed, required) - ค่าคงที่
+ lat (string)
+ lon (string)
+ accuracy: `4` (number)
+ timestamp: `2020-04-23T18:25:43.511` (string, required) - วันเวลาที่มีการแก้ไขข้อมูล มีรูปแบบ YYYY-MM-DDThh:mm:ss.s มีคำอธิบายในส่วน Introduction

# Color (enum)
+ GREEN
+ YELLOW
+ RED

# VehicleCategory (enum)
+ Boat - เรื่อ
+ Car - รถ
+ Aircraft - ทางอากาศ
+ Other - อื่นๆ

# VehicleLevel (enum)
+ ALS - ปฏิบัติการฉุกเฉินระดับสูง
+ ILS - ปฏิบัติการฉุกเฉินระดับกลาง
+ BLS - ปฏิบัติการฉุกเฉินระดับต้น
+ FR - ปฏิบัติการฉุกเฉินเบื้องต้น

# NotFound (object)
+ message: `ไม่พบข้อมูลตามที่ระบุใน Link` (string)
  ```

## Data Structures

# MisRoom (object)
+ type: `MisRoom` (string, fixed, required) - ค่าคงที่
+ officeID: `1010` (number, required) - หน่วยปฏิบัติการ (ทะเบียนหน่วยงาน)
+ eventPatientId: 2222 (array[number], fixed-type) - รหัสรายละเอียดผู้ประสบเหตุ คือ รหัสคนที่เกิดเหตุ
+ vehicleId: 3324, 3368 (array[number], fixed-type, required) - รายการ รหัสพาหนะ ที่ออกปฏิบัติการ
+ level (VehicleLevel) - ระดับปฏิบัติการ

# MisRoomReturn (object)
+ type: `MisRoomReturn` (string, fixed, required) - ค่าคงที่
+ misRoomId: `999888` (number,required) - หมายเลขห้อง MIS
+ detail (MisRoom) - ข้อมูลรายเอียดห้อง MIS

# Victim (object)
+ type: `Victim` (string, fixed, required) - ค่าคงที่
+ eventPatientId: `2222` (number, required) - รหัสรายละเอียดผู้ประสบเหตุ
+ vehicle: 3324 (number,nullable, optional) - พาหนะที่ผู้ประสบเหตุ กำลังโดยสารอยู่ ถ้ายังไม่ขึ้น ยังไม่ต้องกำหนดค่า
+ eventDateTime: `2020-04-23T18:25:43.511` (string, required) - เวลารับแจ้ง มีรูปแบบ YYYY-MM-DDThh:mm:ss.s มีคำอธิบายในส่วน Introduction
+ cbdCode: `CBD25` (string) - อาการผู้ประสบเหตุที่แจ้ง
+ patientName: `002321` (number) - ชื่อผู้ประสบเหตุ ชุดข้อมูลบุคคล personId ให้ดู object Person
+ citizenID: `3250400000001` (string) - หมายเลขประจำตัวประชาชน
+ emergencyLevelCode: `02` (string, required) - ระดับความรุนแรง 01=ขาว, 02=เขียว, 03=เหลือง, 04=แดง, 05=ดำ

# VictimStatus (object)
+ type: `VictimStatus` (string, fixed, required) - ค่าคงที่
+ eventPatientId: `2222` (number, required) - รหัสรายละเอียดผู้ประสบเหตุ
+ color (Color, fixed-type, required) - สถานะ เขียว เหลือง แดง
+ timestamp : `2020-04-23T18:25:43.511` (string, required) - เวลารับแจ้ง มีรูปแบบ YYYY-MM-DDThh:mm:ss.s มีคำอธิบายในส่วน Introduction

# Person (object)
+ type: `Person` (string, fixed, required) - ค่าคงที่
+ personId: `002321` (number, required) - รหัสข้อมูลบุคคล
+ citizenID: `3250400000001` (string) - หมายเลขประจำตัวประชาชน
+ prefixCode: `001` (string) - คำนำหน้าชื่อ ไฟล์ prefix.xlsx
+ givenName: `แสม` (string) - ชื่อตัว
+ familyName: `แสนซน` (string) - ชื่อสกุล
+ genderCode: `1` (number) - เพศ 1=ชาย (male), 2=หญิง (Female), 9=ไม่สามารถระบุได้ (not applicable)
+ birthDate: `1990-01-25` (string) - วันเกิด
+ birthJurisdiction: `ลพบุรี` (string) - สถานที่เกิด จังหวัด
+ nationalityCode: `TH` (string) - สัญชาติ File Nationality.xlsx
+ lifeStatusCode: `LI` (string) - สถานะการมีชีวิต EN=เสียชีวิต, LI=มีชีวิต
+ disabilityCode: `00` (string) - ความพิการ File Disability.xlsx
+ medicalInformation (MedicalInformation) - ข้อมูลทางการแพทย์

# MedicalInformation
+ type: `MedicalInformation` (string, fixed, required) - ค่าคงที่
+ personId: `002321` (number, required) - รหัสข้อมูลบุคคล
+ instype (string) - สิทธิการรักษา 52file(Service) http://www.thcc.or.th/treatment.php
+ drugallergy (array[Drugallergy], optional) - ประวัติการแพ้ยา โครงสร้างปรับตามไฟล์ 52file(DRUGALLERGY)
+ recentHospCode (string) - รหัสโรงพยาบาลที่รักษาล่าสุด 52file(PROCEDURE_REFER)
+ recentHospName (string) - ชื่อโรงพยาบาลที่รักษาล่าสุด
+ bloodGroup: `AB` (string) - หมู่เลือด
+ bloodGroupAH: `AB` (string) - หมู่เลือด RH

# Drugallergy
+ type: `Drugallergy` (string, fixed, required) - ค่าคงที่
+ personId: `002321` (number, required) - รหัสข้อมูลบุคคล
+ drugCode (string, optional) - รหัสมาตราฐานด้านยา 24 หลัก http://thcc.or.th/homemedicin.php
+ drugName (string, optional) - ชื่อยาที่แพ้
+ typeDX: `1` (string, optional) -  ประเภทการวินิจฉยการแพ้ยา 5 ประเภท (1= certain, 2= probable,
 3= possible, 4= unlikely, 5= unclassified)
+ aLevel: `1` (string, optional) - ระดบความรัุนแรงของการแพ้ยา 8 ระดับ  1.ไม่ร้ายแรง (Non-serious), 2.ร้ายแรง - เสียชีวิต (Death), 3.ร้ายแรง - อันตรายถึงชีวิต (Life-threatening), 4.ร้ายแรง - ต้องเข้ารับการรักษาในโรงพยาบาล (Hospitalization-initial), 5.ร้ายแรง - ทําให้เพิ่มระยะเวลาในการรักษานานขึ้น (Hospitalization-prolonged), 6.ร้ายแรง - พิการ (Disability), 7.ร้ายแรง - เป็นเหตุให้เกิดความผิดปกติแต่กำเนิด (Congenital anomaly), 8.ร้ายแรง-อื่นๆ(คือ เหตุการณ์ร้ายแรงอื่น ๆ ที่สำคัญทางการแพทย์ ซึ่งส่งผลให้ผู้ป่วยต้องได้รับการรักษาด้วยวิธีอื่น เช่น การผ่านตัด กรณีนี้รวมถึงผู้ป่วย ซึ่งเกิดปัญหาการหายใจติดขัดอย่างรุ่นแรง และต้องรักษาในห้องฉุกเฉิน ผู้ป่วยเกิดการอาการชักหมดสติ ระบบเลือดผิดปกติเป็นต้น
+ symptom (string, required) - ลักษณะอาการของการแพ้ยา

# Organization (object)
+ type: `Organization` (string, fixed, required) - ค่าคงที่
+ officeID: `1010` (string, required) - รหัสหน่วยงาน
+ OfficeNameTh: `โรงพยาบาลวิภาวดี` (string, required) - ชื่อหน่วยงาน(ไทย)
+ OfficeNameEn: `Vipa` (string) - ชื่อหน่วยงาน(อังกฤษ)
+ ministryCode: `17` (string) - สังกัดกระทรวง/ทบวง File Ministry.xlsx กรมประชาสัมพันธ์ The Government Public Relations Department (PRD)
+ officeTypeCode (string) - ประเภทหน่วยงาน
+ typeOfWorkCode: `02` (string) - ประเภทงาน 01=หน่วยปฏิบัติการดูแลผู้ประสบเหตุและขนส่ง (ชื่อธนาคาร สาขา เลขบัญชี ประเภทบัญชี ชื่อบัญชี), 02=หน่วยรับแจ้งภาวะฉุกเฉินและสั่งการทางการแพทย์, 03=โรงพยาบาลหรือสถานพยาบาล(จำนวน ความเชี่ยวชาญเฉพาะทาง เลือกประเภทโรงพยาบาล), 04=หน่วยบริหารจัดการระบบ, 05=หน่วยสนับสนุนอื่นๆ

# OfflineProtocal (object)
+ type: `OfflineProtocal` (string, fixed, required) - ค่าคงที่
+ offlinePotocalName: `example` (string, required) - ชื่อแนวทางการปฏิบัติงาน
+ AttechFile: `https://mis.tot.co.th/doc/offline/xxx.pdf` (string, required) - เอกสารแนวทางปฏิบัติงาน

# Protocol (object)
+ type: `Protocol` (string, fixed, required) - ค่าคงที่
+ eventPatientId: `2222` (number, required) - รหัสรายละเอียดผู้ประสบเหตุ
+ vitalsignsLink: `https://` (string) - ลิงค์สัญญาณชีพ
+ ekgLink: `https://` (string) - ลิงค์ EKG/ECG
+ detail (array[TreatmentInformation],fixed-type)
+ note: `ดาม แขน ขา คอ` (string) - note อื่นๆ
+ update: `2020-04-23T18:25:43.511` (string, required) - วันเวลาที่มีการแก้ไขข้อมูล มีรูปแบบ YYYY-MM-DDThh:mm:ss.s

# TreatmentInformation (object)
+ type: `TreatmentInformation` (string, fixed, required) - ค่าคงที่
+ createBy: `2323` (number,required) - สร้างโดยใคร
+ updateBy: `3424` (number,required) - อัพเดทโดยใคร ตอนแรก จะเป็นอันเดียวกับ createBy
+ procedureName: `ดาม` (string, required) - ชื่อหัตถการหรือการรักษา 52file(PROCEDURE_REFER)
+ pDescription: `ดามคอ แขน และ ขา` (string, required) - คำอธิบายการทำหัตถการหรือการรักษา 52file(PROCEDURE_REFER)
+ pattern (PatternProtocal)
+ doIt: `true` (boolean, nullable) - ได้ทำหรือไม่ null=ไม่ทราบ, true=ทำ, false=ไม่ได้ทำ
+ update: `2020-04-23T18:25:43.511` (string, required) - วันเวลาที่มีการแก้ไขข้อมูล มีรูปแบบ YYYY-MM-DDThh:mm:ss.s มีคำอธิบายในส่วน Introduction
+ timestamp: `2020-04-23T18:25:43.511` (string, required) - วันเวลาที่มีการแก้ไขข้อมูล มีรูปแบบ YYYY-MM-DDThh:mm:ss.s มีคำอธิบายในส่วน Introduction


# User (object)
+ type: `User` (string, fixed, required) - ค่าคงที่
+ personId: `1354` (number, required) - รหัสข้อมูลบุคคล
+ operatorID: `111222` (number, required) - รหัสทะเบียนเจ้าหน้าที่
+ officeID: `1010` (number, required) - หน่วยงานที่สังกัด
+ prefixCode: `001` (string, required) - คำนำหน้าชื่อ ไฟล์ prefix.xlsx
+ givenName: `แสม` (string, required) - ชื่อตัว
+ familyName: `แสนซน` (string, required) - ชื่อสกุล
+ genderCode: `1` (number, required) - เพศ 1=ชาย (male), 2=หญิง (Female), 9=ไม่สามารถระบุได้ (not applicable)
+ operationStatusCode: `1` (number, required) - สถานะหยุดปฏิบัติการ 0=ลา, 1=พร้อมปฏิบัติงาน, 2=กำลังปฏิบัติงาน, 3=พัก
+ operationTypeCode: `10` (string, required) - หน้าที่ของเจ้าหน้าที่ 01=พนักงานช่วยเหลือผู้ป่วยเบื้องต้น, 02=พนักงานกู้ชีพ (BLS), 03=นักกู้ชีพวิชาชีพ (ALS), 04=By Stander, 05=พยาบาลควบคุมการรับแจ้งและคัดแยก, 06=พยาบาลถ่ายทอดคำสั่งแพทย์, 07=แพทย์ผู้อำนวยการ, 08=พยาบาลคัดแยกผู้ป่วยฉุกเฉิน, 09=ผู้ช่วยเหลือผู้ป่วยขับรถได้, 10=พยักงานกู้ชีพ (ILS), 11=พยาบาลกู้ชีพ, 12=พนักงานรับแจ้งและคัดแยกภาวะฉุกเฉิน, 13=พนักงานถ่ายทอดคำสั่งแพทย์, 14=แพทย์ผู้สั่งการเชื่อมตรง, 15=พนักงานคัดแยกผู้ป่วยฉุกเฉิน, 16=แพทย์ฉุกเฉิน

# Speciallist
+ type: `Speciallist` (string, fixed, required) - ค่าคงที่
+ id: `12346` (string, required) - เลขใบ ว.
+ nameTh: `สง กรานต์` (string) - ชือภาษาไทย
+ nameEn: `Song Kran` (string) - ชื่อภาษาอังกฤษ
+ officeID: `1010` (number) - หน่วยงานที่สังกัด
+ genderCode: `1` (number, required) - เพศ 1=ชาย (male), 2=หญิง (Female), 9=ไม่สามารถระบุได้ (not applicable)
+ tel: `0649999998` (string) - เบอร์โทรศัพท์
+ knowledge: `สาขา ออร์โธปิดิกส์ ( Orthopedics )`,`สาขา แพทย์คนชรา หมอคนแก่ (Geriatrician)` (array[string], fixed-type) - รายการความรู้เฉพาะทาง

# Vehicle (object)
+ type: `Vehicle` (string, fixed, required) - ค่าคงที่
+ vehicleId: `3324` (number, required) - รหัสพาหนะ
+ operationNumber: `5354` (number,required) - เลขปฏิบัติงาน คือ เลขสั่งรถออกปฏิบัติงาน ที่ผูกกับพาหนะนี้อยู่
+ operatingSetID: `23154` (number, required) - เลขชุดปฏิบัติการ (ทะเบียนชุดปฏิบัติการ) ที่ใช้ พาหนะนี้อยู่
+ eventPatientId: 2222,2345 (array[number], fixed-type) - รหัสรายละเอียดผู้ประสบเหตุ คือ รหัสคนที่เกิดเหตุ ที่อยู่บนพาหนะ
+ category: `Boat` (VehicleCategory) - ประเภทพาหนะ
+ vehicleNumber: `6กจ9999` (string) - เลขทะเบียนรถ
+ province: `สระแก้ว` (string) - จัดหวัด

# ChangeVehicle (object)
+ type: `ChangeVehicle` (string, fixed, required) - ค่าคงที่
+ eventPatientId: `2222` (number, required) - รหัสรายละเอียดผู้ประสบเหตุ
+ vehicleId: `3324` (number,nullable , optional) - รหัสพาหนะที่ขึ้น โดย MIS จะใช้ api ดึงข้อมูลรถ เพื่อขอรายระเอียดอีกครั้ง หากไม่กำหนดมาหมายถึงลงรถ

# Gps (object)
+ type: `Gps` (string, fixed, required) - ค่าคงที่
+ personId: `1354` (number, required) - รหัสข้อมูลบุคคล
+ lat: `14.077756` (string,required)
+ lon: `100.601302` (string,required)
+ accuracy: `4` (number, optional)
+ timestamp: `2020-04-23T18:25:43.511` (string, required) - วันเวลาที่มีการแก้ไขข้อมูล มีรูปแบบ YYYY-MM-DDThh:mm:ss.s มีคำอธิบายในส่วน Introduction

# PatternProtocal (enum)
+ DIRECT - อำนวยการตรง
+ GENERAL - อำนวยการทั่วไป
+ OTHER - อำนวยการอื่นๆ ที่แพทย์สั่ง เช่น ย้ายรถ เปลี่ยนรถ

# Color (enum)
+ GREEN
+ YELLOW
+ RED

# VehicleCategory (enum)
+ Boat - เรื่อ
+ Car - รถ
+ Aircraft - ทางอากาศ
+ Other - อื่นๆ

# VehicleLevel (enum)
+ ALS - ปฏิบัติการฉุกเฉินระดับสูง
+ ILS - ปฏิบัติการฉุกเฉินระดับกลาง
+ BLS - ปฏิบัติการฉุกเฉินระดับต้น
+ FR - ปฏิบัติการฉุกเฉินเบื้องต้น

# NotFound (object)
+ message: `ไม่พบข้อมูลตามที่ระบุใน Link` (string)
