FORMAT: 1A
HOST: https://api.mis.tot.co.th/mis

MIS API

เอกสารการสเปค **MIS API.**
ชื่อ และ type ตัวแปรที่ใช้ จะล้อตามระบบ api ของระบบ ITEM สพฉ.

# ปฏิบัติการ [/dispatch]

## เพิ่มปฏิบัติการใหม่ [POST /dispatch]

<img src="data\image\create_dispatch.svg">

+ Request (application/json)

    + Headers

            Authorization: Bearer {token}

    + Attributes (Dispatch , fixed-type)

+ Response 201 (application/json)

    + Attributes (Dispatch , fixed-type)

## อัพเดทปฏิบัติการ [/dispatch]

<img src="data\image\update_dispatch.svg">

ในกรณี OIS ต้องการอัพเดทข้อมูลปฏิบัติการ ในระหว่างกำลังปฏิบัติงาน


## Data Structures

# Dispatch (object)
+ type: `Dispatch` (string, fixed) - ค่าคงที่
+ Victim_Id: `61-0004` (string) - เลขผู้ป่วย
+ Event_Id: `61-0001` (string) - เลขเหตุการณ์
+ Operation_Id: `61-0003` (string) - เลขปฏิบัติการ
+ O_Department_Id: `10-1-DEP-171` (string) - รหัสหน่วยปฏิบัติการ
+ O_Department_Name: `โรงพยาบาลวิภาวดี` (string) - ชื่อหน่วยปฏิบัติการ
+ O_Vehicle (array[Vehicle]) - รายการชุดปฏิบัติการ
+ O_Victim (Victim) - ข้อมูลผู้ป่วย

# Victim (object)
+ type: `Victim` (string, fixed) - ค่าคงที่
+ Victim_Id: `61-0004` (string) - เลขผู้ป่วย
+ V_Title: `นาย` (string) - คำนำหน้าชื่อ
+ V_Firstname: `สมปอง` (string) - ชื่อผู้ป่วย
+ V_Lastname: `สองปม` (string) - นามสกุลผู้ป่วย
+ V_Age_Year: `25` (string) - อายุ(ปี)
+ V_Age_Month: `0` (string) - อายุ(เดือน)
+ V_Age_Day: `0` (string) - อายุ(วัน)
+ V_Gender (Gender) - เพศ
+ V_People_Type: `1` (string) - กลุ่มผู้ใช้สิทธิการรักษา 1=คนไทย, 2=แรงงานต่างด้าว, 3=ชาวต่างชาติ
+ V_Id_Card: `1000000000001` (string) - เลขบัตรประชาชนผู้ป่วย
+ V_Country (string) - ประเทศ(ชาวต่างชาติ)
+ V_Passport (string) - เลขที่หนังสือเดินทาง
+ V_Treatment_Right: `2` (string) - สิทธิการรักษา 1=ไม่มี, 2=สิทธิประกันสุขภาพถ้วนหน้า, 3=สิทธิข้าราชการ/สิทธิรัฐวิสาหกิจ, 4=สิทธิประกันสังคม, 5=แรงงานต่างด้าว
+ V_Insurance_Type (string) - ประกันอื่นๆ 1=ประกันท่องเที่ยว, 2=ผู้ประสบภัยจากรถ

# Gender (enum)
+ M - ชาย
+ F - หญิง

# Vehicle_Level (enum)
+ ALS - ปฏิบัติการฉุกเฉินระดับสูง
+ ILS - ปฏิบัติการฉุกเฉินระดับกลาง
+ BLS - ปฏิบัติการฉุกเฉินระดับต้น
+ FR - ปฏิบัติการฉุกเฉินเบื้องต้น

# Medical (object)
+ type: `Medical` (string, fixed) - ค่าคงที่
+ Name - ชื่อ
+ No - เลขที่ใบประกอบ
+ Tel - เบอร์โทรศัพท์

# Vehicle (object)
+ type: `Vehicle` (string, fixed) - ค่าคงที่
+ Vehicle_Id: `10-1-VEH-10010200034` (string) - รหัสชุดปฏิบัติการ
+ Vehicle_Name: `โรงพยาบาลวิภาวดี 3กษ 8019` (string) - ชื่อชุดปฏิบัติการ
