FORMAT: 1A
HOST: https://api.mis.tot.co.th/mis

# Group Introduction

# MIS API Draft alpha-4
  **alpha-5 change log**
  - เพิ่ม `misRoomId` เพื่อให้ OIS ใช้อ้างอิง เผื่อมีการเปลี่ยนภายหลังจะยืดหยุ่นกว่า
  -


  **alpha-4 change log**
  - เพิ่มรายละเอียดโครงสร้าง Data Structures
  - ปรับ link หน้าจอสำหรับแสดงผล MIS ให้อ้างอิงตามรหัสศูนย์สั่งการ


  **alpha-3 change log**
  - แก้ไขตอน สร้าง/อัพเดท ห้อง MIS ให้อิงกับ `เลขปฏิบัติการ`
  - แก้ไข ผู้ประสบเหตุขึ้นรถ ให้ใช้ `เลขปฏิบัติการ` กับ `เลขผู้ประสบเหต`ุ
  - link ห้อง MIS ปรับจาก `เลขผู้ประสบเหตุ` เป็นอิงกับ `เลขปฏิบัติการ`
  - link ข้อมูล Telemed ใช้ `เลขผู้ประสบเหตุ` ในการอ้างอิง โดยตัว link จะส่งไปกับรายงานการปฏิบัติงานด้วย
  - ปรับโครงสร้าง Vehicle


  **alpha-2 change log**
  - เพิ่มตัวแปร type ใน object


  เอกสารการสเปค **MIS API.** สำหรับแลกเปลี่ยนข้อมูลกับ OIS มิใช่เอกสารสำหรับการใช้งานภายในระบบ
  ชื่อ และ type ตัวแปรจะใช้ตามโครงสร้างที่เกษตรกำหนดมา

  <img src="data\image\api_gateway.svg" width="100%">

  ภาพแสดงการเชื่อมต่อกับระบบ OIS
  - การเรียกใช้ api ภายใน MIS จะเชื่อมผ่าน MIS api gateway ทั้งหมด
  - สำหรับการส่ง Notification จะทำผ่านระบบ Message Queue


  รูปแบบวันที่เวลาที่ใช้ `YYYY-MM-DDThh:mm:ss.s`
  - YYYY = four-digit year
  - MM   = two-digit month (01=January, etc.)
  - DD   = two-digit day of month (01 through 31)
  - hh   = two digits of hour (00 through 23) (am/pm NOT allowed)
  - mm   = two digits of minute (00 through 59)
  - ss   = two digits of second (00 through 59)
  - s    = one or more digits representing a decimal fraction of a second

# Group Authorization

  การใช้งาน จำเป็นต้องมี api key กำลังหาข้อสรุป

# Group MIS ปฏิบัติการ

## เปิดห้อง MIS [POST /room]

  <img src="data\image\create_dispatch.svg">

  ต้องเคลียร์กับทาง OIS ว่า 1 ห้อง MIS ต่อ 1 เลขปฏิบัติการ
  - เลขปฏิบัติการ คือ เลขที่จะเกิดเมื่อตอนสั่งรถออกไป
  - ถ้าในกณี ส่งไปรับ 2 คัน ต้องกดสร้างห้อง MIS 2 ครั้ง
  - ถ้าเกิดในกรณี เพิ่มผู้ป่วย กลางทาง ฝั่ง OIS ต้องส่งข้อมูลมาอัพเดท

  โครงสร้างที่ใช้
  - ใช้โครงสร้าง `ชุดข้อมูลการรับแจ้งเหตุ` มาปรับ
  - ในเอกสาร `ข้อมูลทะเบียนชุดปฏิบัติการ` จะผูกกับเลขทะเบียนรถเสมอ

+ Request (application/json)

    + Headers

            Authorization: Token {token}

    + Attributes (MisRoom , fixed-type)

+ Response 201 (application/json)

    + Attributes (object , fixed-type)
      + misRoomId: `999888` (number,required) - หมายเลขห้อง MIS
      + return (MisRoom)

+ Response 409 (application/json)

    + Attributes (object , fixed-type)
      + message: `พบการสร้างห้องซ้ำ` (string)

## รายการห้อง MIS อิงรหัสเหตุการณ์ [GET /room/event/{eventId}]

  <img src="data\image\ois_get_room_in_event.svg">

  รายการห้อง MIS คืนค่าแบบ Array โดยจะอ้างอิงจาก `รหัสเหตุการณ์` เดียวกัน

  1 เหตุการณ์ อาจมีผู้ประสบเหตุได้หลายคน

+ Parameters
    + eventId: `610001` (number, required)
      ``รหัสเหตุการณ์``

+ Response 200 (application/json)

    + Attributes (array[object] , fixed-type)
      + (object)
        + misRoomId: `999888` (number,required) - หมายเลขห้อง MIS
        + detail (MisRoom) - ข้อมูลห้อง MIS

+ Response 404 (application/json)

    + Attributes (NotFound , fixed-type)

## รายการห้อง MIS อิงศูนย์สั่งการ [GET /room/office/{officeID}]

  <img src="data\image\ois_get_room_in_office.svg">

  รายการห้อง MIS คืนค่าแบบ Array โดยจะอ้างอิงจาก `รหัสศูนย์สั่งการ`

  1 ศูนย์สั่งการ ปกติจะดูแลผู้ประสบเหตุหลายคน

+ Parameters
    + officeID: `1010` (number, required)
      ``หน่วยปฏิบัติการ (ทะเบียนหน่วยงาน)``

+ Response 200 (application/json)

    + Attributes (array[MisRoom] , fixed-type)

+ Response 404 (application/json)

    + Attributes (NotFound , fixed-type)

## รายการห้อง MIS อิงเลขปฏิบัติการ [GET /room/operation/{operationNumber}]

  <img src="data\image\ois_get_room_in_office.svg">

  รายการห้อง MIS คืนค่าแบบ Array โดยจะอ้างอิงจาก `รหัสศูนย์สั่งการ`

  1 ศูนย์สั่งการ ปกติจะดูแลผู้ประสบเหตุหลายคน

+ Parameters
    + operationNumber: `5354` (number,required)
      ``เลขปฏิบัติงาน คือ เลขสั่งรถออกปฏิบัติงาน``

+ Response 200 (application/json)

    + Attributes (array[MisRoom] , fixed-type)

+ Response 404 (application/json)

    + Attributes (NotFound , fixed-type)


## อัพเดทข้อมูลห้อง MIS [PUT /room/{operationNumber}]

  <img src="data\image\update_dispatch.svg">

  ในกรณี OIS ต้องการอัพเดทข้อมูลปฏิบัติการ ในระหว่างกำลังปฏิบัติงาน จะใช้เลข รหัสผู้ประสบเหตุ ในการอ้างอิงชุดข้อมูล

  โดยระบบจะตรวจสอบอีกครั้งว่า เลข `operationNumber` ใน link ตรงกับในชุดข้อมูลที่ตรงมาหรือไม่

+ Parameters
    + operationNumber: `5354` (number,required)
      ``เลขปฏิบัติงาน คือ เลขสั่งรถออกปฏิบัติงาน``

+ Request (application/json)

    + Attributes (MisRoom , fixed-type)

+ Response 200 (application/json)

    + Attributes (MisRoom , fixed-type)

+ Response 404 (application/json)

    + Attributes (NotFound , fixed-type)

+ Response 409 (application/json)

    + Attributes (object , fixed-type)
      + message: `ชุดข้อมูล operationNumber ไม่ตรงกับที่ระบุ` (string)

## ผู้ประสบเหตุ ขึ้น/เปลี่ยน พาหนะ [GET /patient/{eventPatientId}/operation/{operationNumber}]

  <img src="data\image\change_car.svg">

  เพื่อให้สะดวกแก่การใช้งาน จะใช้ในลักษณะของ Webhook เรียก Link แล้วจะอัพเดทสถานะเลย

  ในกรณีที่มีพาหนะ หลายอย่างออกไปรับผู้ประสบเหตุ 1 คน เช่น มีการใช้รถรวมกันระว่าง FR กับ ALS ประสานงานกันรับผู้ประสบเหตุ

+ Parameters
    + eventPatientId: `2222` (number, required)
      ``รหัสรายละเอียดผู้ประสบเหตุ``
    + operationNumber: `5354` (number,required)
      ``เลขปฏิบัติงาน คือ เลขสั่งรถออกปฏิบัติงาน``

+ Response 200 (application/json)

    + Attributes (object , fixed-type)
      + message: `OK` (string)

+ Response 404 (application/json)

    + Attributes (object , fixed-type)
      + message: `ไม่พบเลข operationNumber ที่ระบุ` (string)

# Group OIS ปฏิบัติการ

  HOST และ link จะเป็นของทาง OIS

  ทาง OIS จะต้องเป็นผู้พัฒนาให้

  https://api.ois.tot.co.th/ois/report/{eventPatientId}

## ส่งรายปฏิบัติงาน [POST /ois/report/{eventPatientId}]

  ส่งรายงานปฏิบัติงาน ต่อ 1 ผู้ประสบเหตุ

+ Parameters
    + eventPatientId: `2222` (number, required)
      ``รหัสรายละเอียดผู้ประสบเหตุ``

+ Request (application/json)

    + Attributes (Report , fixed-type)

+ Response 201 (application/json)

    + Attributes (Report , fixed-type)

+ Response 409 (application/json)

    + Attributes (object , fixed-type)
      + message: `พบความผิดพลาด ชุดข้อมูลอาจถูกสร้างไปแล้ว` (string)

## แก้ไขรายงานปฏิบัติงาน [PUT /ois/report/{eventPatientId}]

  หลังจากส่งรายงานการปฏิบัติงานแล้วอนุญาติให้แก้ไขได้ภายใน 24 ชม. หลังปิดเคส

+ Parameters
    + eventPatientId: `2222` (number, required)
      ``รหัสรายละเอียดผู้ประสบเหตุ``

+ Request (application/json)

    + Attributes (Report , fixed-type)

+ Response 200 (application/json)

    + Attributes (Report , fixed-type)

+ Response 404 (application/json)

    + Attributes (NotFound , fixed-type)

## ดึงรายงานปฏิบัติงาน [GET /ois/report/{eventPatientId}]

  เรียกดูข้อมูลการปฏิบัติงาน ของผู้ประสบเหตุ

+ Parameters
    + eventPatientId: `2222` (number, required)
      ``รหัสรายละเอียดผู้ประสบเหตุ``

+ Response 200 (application/json)

    + Attributes (Report , fixed-type)

+ Response 404 (application/json)

    + Attributes (NotFound , fixed-type)

# Group MIS Protocol

## Offline protocol [GET /protocol/offline{?query}]

  ประสานกับคุณ เอ ว่าได้เก็บข้อมูล offline protocol แยกเป็นหัวข้อหรือปล่าว

+ Parameters
    + query: `หมดสติ` (string)
      ``หัวข้อ หรือ คำค้นหา``

+ Response 200 (application/json)

    + Attributes (array[OfflineProtocal], fixed-type)

## Online protocol [GET /protocol/online]

  จะใช้ endpoint ของ `ส่งรายงานปฏิบัติงาน` โดย MIS จะส่ง update ไปยัง OIS เอง

# Group ระบบ MIS UI

## UI สำหรับแสดงผล MIS [GET /room/{officeID}]

  หน้าจอส่วนแสดงผลที่จะนำไปใส่ในระบบ OIS ความกว้าง ขนาดหน้าจอ ถูก กำหนดมาแล้ว เราจะใช้ขนาด 683 x 768 pixels

  <img src="data\image\LINE_b9WEtafJT4.png">

+ Parameters
    + officeID: `1010` (number,required)
      ``หน่วยปฏิบัติการ (ทะเบียนหน่วยงาน)``

+ Response 200 (text/html)

## ลิงค์ข้อมูล Telemed [GET /telemed/link/{eventPatientId}]

+ Parameters
    + eventPatientId: `2222` (number, fixed-type)
      ``รหัสรายละเอียดผู้ประสบเหตุ หรือก็คือ รหัสคนที่เกิดเหตุ``

+ Response 200 (application/json)

    + Attributes (object, fixed-type)
      + type: `TelemedLink` (string,fixed) - ค่าคงที่
      + videoLink: `https://` (string) - ลิงค์วีดีโอ
      + vitalsignsLink: `https://` (string) - ลิงค์สัญญาณชีพ
      + ekgLink: `https://` (string) - ลิงค์ EKG/ECG


# Group MIS Notification

## ศูนย์เรียกแพทย์เข้าห้อง [PUT /notification]

  <img src="data\image\center_call_medical.svg">

  <img src="data\image\center_call_medical_001.svg">

  **อาจจะไม่ต้องทำ ใช้หน้าจอของเราใน OIS เลย**

  เมื่อศูนย์ต้องการเรียกแพทย์ที่เข้าเวรอยู่ ไปยังห้องที่ระบุ

+ Request (application/json)

    + Attributes (object , fixed-type)
      + event: `send_operator` (string, required) - กำหนดค่าคงที่
      + randomNumber: `965` (number,required) - ให้สุ่มตัวเลขใส่ค่าในช่องนี้
      + operationNumber: `5354` (number,required) - หมายเลขห้องที่แพทย์จะต้องเข้า เพราะใน MIS เลขห้อง=operationNumber
      + officeID: `1010` (number, required) - หน่วยปฏิบัติการ (เลขทะเบียนหน่วยงาน)
      + operatorID: `111222` (number, required) - รหัสทะเบียนเจ้าหน้าที่

## แพทย์เรียกศูนย์เข้าห้อง [PUT /notification]

  <img src="data\image\medical_call_center.svg">

  <img src="data\image\medical_call_center_001.svg">

  **อาจจะไม่ต้องทำ ใช้หน้าจอของเราใน OIS ในการแจ้งเตือนเลย**

  ใช้เมื่อแพทย์ ต้องการส่งข้อความหาศูนย์ ในที่นี้จะใช้สำหรับ ในกรณีที่แพทย์ ต้องการเรียกศูนย์เข้าห้อง

+ Request (application/json)

    + Attributes (object , fixed-type)
      + event: `send_center` (string, required) - กำหนดค่าคงที่
      + randomNumber: `124` (number,required) - ให้สุ่มตัวเลขใส่ค่าในช่องนี้
      + operatorID: `111222` (number, required) - รหัสทะเบียนเจ้าหน้าที่
      + operationNumber: `5354` (number,required) - หมายเลขห้องที่ศูนย์จะต้องเข้า เพราะใน MIS เลขห้อง=operationNumber
      + officeID: `1010` (number, required) - หน่วยปฏิบัติการที่จะส่งข้อความถึง (เลขทะเบียนหน่วยงาน)
      + message: `แพทย์เรียก` (string, required) - ข้อความ

## ส่ง Notification ไป OIS [PUT /notification]

  **Message Queue**

  **อาจจะไม่ต้องทำ ใช้หน้าจอของเราใน OIS ในการแจ้งเตือนเลย**

  <img src="data\image\notification_system_002.svg">

  <img src="data\image\notification_system_003.svg">

  ในที่นี้สำหรับใช้ในกรณี mis ต้องการส่ง Notification ไปยังศูนย์สั่งการ

+ Request (application/json)

    + Attributes (object , fixed-type)
      + event: `send_center` (string, required) - กำหนดค่าคงที่
      + randomNumber: `6324` (number,required) - ให้สุ่มตัวเลขใส่ค่าในช่องนี้
      + operatorID: `111222` (number, required) - รหัสทะเบียนเจ้าหน้าที่
      + officeID: `1010` (number, required) - หน่วยปฏิบัติการที่จะส่งให้ (ทะเบียนหน่วยงาน)
      + message: `จะมีเคสส่งข้ามเขตไปหา` (string, required) - ข้อความ Notification

## รับ Notification จาก OIS [POST /notification]

  **Message Queue**

  <img src="data\image\notification_system.svg">

  <img src="data\image\notification_system_001.svg">

  ใช้ในกรณี OIS หรือ ศูนย์ ต้องการส่ง Notification ไปยังผู้ใช้ MIS

+ Request (application/json)

    + Attributes (object , fixed-type)
      + event: `send_operator` (string, required) - กำหนดค่าคงที่
      + randomNumber: `2347` (number,required) - ให้สุ่มตัวเลขใส่ค่าในช่องนี้
      + officeID: `1010` (number, required) - หน่วยปฏิบัติการ (ทะเบียนหน่วยงาน)
      + operatorID: `111222` (number, required) - รหัสทะเบียนเจ้าหน้าที่
      + message: `จะมีเคสส่งข้ามเขตไปหา` (string, required) - ข้อความ Notification

## รับ Alert จาก OIS [POST /notification]

  **Message Queue Remote procedure call (RPC)**

  ใช้ในกรณ OIS ต้องการส่ง Alert message ไปยังผู้ใช้ MIS และยังสามารถทราบได้ด้วยว่า ข้อความถึงปลายทางหรือไม่

  **(รอหารือกับทีมอีกครั้ง ว่าจะทำตรงนี้หรือไม่)**

+ Request (application/json)

    + Attributes (object , fixed-type)
      + event: `alert_operator` (string, required) - กำหนดค่าคงที่
      + randomNumber: `96544` (number,required) - ให้สุ่มตัวเลขใส่ค่าในช่องนี้
      + officeID: `1010` (number, required) - หน่วยปฏิบัติการ (ทะเบียนหน่วยงาน)
      + operatorID: `111222` (number, required) - รหัสทะเบียนเจ้าหน้าที่
      + message: `ติดต่อศูนย์ด่วน 02-222-2222` (string, required) - ข้อความ Notification

# Group OIS จัดการเวร

  HOST และ link จะเป็นของทาง OIS

  ทาง OIS จะต้องเป็นผู้พัฒนาให้

## เข้าเวร/ออกเวร [PUT /duty/{operatorID}]

+ Parameters
    + operatorID: `111222` (number, required)
      ``รหัสทะเบียนเจ้าหน้าที่``

+ Request (application/json)

    + Attributes (object , fixed-type)
      + duty: `true` (boolean, required) - สถานะเข้าเวร/ออกเวร true=เข้าเวร, false=ออกแวร

+ Response 200 (application/json)

    + Attributes (object , fixed-type)
      + duty: `true` (boolean, required) - สถานะเข้าเวร/ออกเวร true=เข้าเวร, false=ออกแวร

# Group Lookup from OIS

  HOST และ link จะเป็นของทาง OIS

  ทาง OIS จะต้องเป็นผู้พัฒนาให้

## ข้อมูลผู้ประสบเหตุ [GET /EventPatient/{eventPatientId}]

+ Parameters
    + eventPatientId: `2222` (number, required)
      ``รหัสรายละเอียดผู้ประสบเหตุ``

+ Response 200 (application/json)

    + Attributes (Victim , fixed-type)

+ Response 404 (application/json)
    + Attributes (NotFound , fixed-type)

## Speciallist Search [GET /specialist{?province,query}]

  ค้นหารายการการ Speciallist

+ Parameters
    + province: `สระแก้ว` (string)
      ``ชื่อจังหวัด``
    + query: `กระดูก` (string)
      ``ข้อมูล query อื่นๆ เช่น กระดูก, หัวใจ, สมอง``

+ Response 200 (application/json)

    + Attributes (array[Speciallist] , fixed-type)

## Speciallist [GET /specialist/{id}]

  ค้นหารายการการ Speciallist

+ Parameters
    + id: `12346` (string)
      ``เลขใบ ว.``

+ Response 200 (application/json)

    + Attributes (Speciallist , fixed-type)

## สิทธิ์การรักษา/ประวัติการรักษา/ข้อมูลส่วนบุคคล [GET /rightoftreatment/{id_card}]

  สิทธิ์/ประวัดิการรักษา รวมถึงข้อมูลส่วนบุคคลอื่นๆ ด้วย

**(รอหารือกับทีมอีกครั้งว่าสมควรดึงได้โดยตรงไหม เพราะเป็นข้อมูลละเอียดอ่อน)**

+ Parameters
    + id_card: `3250400000001` (string, required)
      ``หมายเลขประจำตัวประชาชน``

+ Response 200 (application/json)
    + Attributes (Person, fixed-type)

+ Response 404 (application/json)
    + Attributes (NotFound , fixed-type)

## สมาชิกในทีมปฏิบัติการ [GET /operating/{OperatingSetID}]

  + Parameters
      + OperatingSetID: `23154` (number, required)
        ``ชุดปฏิบัติการ (ทะเบียนชุดปฏิบัติการ)``

+ Response 200 (application/json)
    + Attributes (array[User], fixed-type)

+ Response 404 (application/json)
    + Attributes (NotFound , fixed-type)

## ค้นหาหน่วยงาน [GET /organization{?query}]

  <img src="data\image\ois_search_org.svg">

  ดึงข้อมูลชื่อหน่วยงานจาก OIS ถ้าไม่ใส่ query จะส่งกลับรายชื่อหน่วยงานทั้งหมด

+ Parameters
    + query: `สระแก้ว` (string, optional)
      ``ข้อมูลที่ต้องการค้นหา``

+ Response 200 (application/json)
    + Attributes (array, fixed-type)
        + (object)
            + officeID: `1010` (number ,required) - รหัสหน่วยงาน
            + OfficeNameTh: `โรงพยาบาลวิภาวดี` (string ,required) - ชื่อหน่วยงานไทย
            + OfficeNameEn: `Vipa` (string ,required) - ชื่อหน่วยงานอังกฤษ

## ข้อมูลหน่วยงาน [GET /organization/{officeID}]

  <img src="data\image\ois_get_org.svg">

  ดึงข้อมูลหน่วยงานจาก OIS

+ Parameters
    + officeID: `1010` (string, required)
      ``รหัสหน่วยงาน``

+ Response 200 (application/json)
    + Attributes (Organization, fixed-type)

+ Response 404 (application/json)
    + Attributes (NotFound , fixed-type)

# Group Data Structures

  กำลังทำ

  ```
## Data Structures

# MisRoom (object)
+ type: `MisRoom` (string, fixed, required) - ค่าคงที่
+ operationNumber: `5354` (number,required) - เลขปฏิบัติงาน คือ เลขสั่งรถออกปฏิบัติงาน
+ officeID: `1010` (number, required) - หน่วยปฏิบัติการ (ทะเบียนหน่วยงาน)
+ eventPatientId: `2222` (array[number], fixed-type) - รหัสรายละเอียดผู้ประสบเหตุ คือ รหัสคนที่เกิดเหตุ
+ vehicle (Vehicle, required) - ข้อมูลรถปฏิบัติการ
+ level: `ALS` (VehicleLevel) - ระดับปฏิบัติการ
+ eventId: `610001` (number) - รหัสเหตุการณ์ ไม่ได้ใช้ใน MIS จะใช้สำหรับในกรณีทาง OIS ต้องการายการห้อง MIS ทีอยู่ในเหตุการณ์เดียวกัน

# Victim (object)
+ type: `Victim` (string, fixed, required) - ค่าคงที่
+ eventPatientId: `2222` (number, required) - รหัสรายละเอียดผู้ประสบเหตุ
+ eventDateTime: `2020-04-23T18:25:43.511` (string, required) - เวลารับแจ้ง มีรูปแบบ YYYY-MM-DDThh:mm:ss.s มีคำอธิบายในส่วน Introduction
+ cbdCode: `CBD25` (string) - อาการผู้ประสบเหตุที่แจ้ง
+ patientName: `002321` (number) - ชื่อผู้ประสบเหตุ ชุดข้อมูลบุคคล personId ให้ดู object Person
+ citizenID: `3250400000001` (string) - หมายเลขประจำตัวประชาชน
+ emergencyLevelCode: `02` (string, required) - ระดับความรุนแรง 01=ขาว, 02=เขียว, 03=เหลือง, 04=แดง, 05=ดำ
+ instype (string) - สิทธิการรักษา 52file(Service)
+ drugallergy (string) - ประวัติการแพ้ยา 52file(DRUGALLERGY)
+ hospCode (string) - โรงพยาบาลที่รักษาล่าสุด 52file(PROCEDURE_REFER)

# Person (object)
+ type: `Person` (string, fixed, required) - ค่าคงที่
+ personId: `002321` (number, required) - รหัสข้อมูลบุคคล
+ citizenID: `3250400000001` (string) - หมายเลขประจำตัวประชาชน
+ prefixCode: `001` (string) - คำนำหน้าชื่อ ไฟล์ prefix.xlsx
+ givenName: `แสม` (string) - ชื่อตัว
+ familyName: `แสนซน` (string) - ชื่อสกุล
+ genderCode: `1` (number) - เพศ 1=ชาย (male), 2=หญิง (Female), 9=ไม่สามารถระบุได้ (not applicable)
+ birthDate: `1990-01-25` (string) - วันเกิด
+ birthJurisdiction: `ลพบุรี` (string) - สถานที่เกิด จังหวัด
+ nationalityCode: `TH` (string) - สัญชาติ File Nationality.xlsx
+ lifeStatusCode: `LI` (string) - สถานะการมีชีวิต EN=เสียชีวิต, LI=มีชีวิต
+ disabilityCode: `00` (string) - ความพิการ File Disability.xlsx
+ instype (string) - สิทธิการรักษา 52file(Service)
+ drugallergy (string) - ประวัติการแพ้ยา 52file(DRUGALLERGY)
+ hospCode (string) - โรงพยาบาลที่รักษาล่าสุด 52file(PROCEDURE_REFER)

# Organization (object)
+ type: `Organization` (string, fixed, required) - ค่าคงที่
+ officeID: `1010` (string, required) - รหัสหน่วยงาน
+ OfficeNameTh: `โรงพยาบาลวิภาวดี` (string, required) - ชื่อหน่วยงาน(ไทย)
+ OfficeNameEn: `Vipa` (string) - ชื่อหน่วยงาน(อังกฤษ)
+ ministryCode: `17` (string) - สังกัดกระทรวง/ทบวง File Ministry.xlsx กรมประชาสัมพันธ์ The Government Public Relations Department (PRD)
+ officeTypeCode (string) - ประเภทหน่วยงาน
+ typeOfWorkCode: `02` (string) - ประเภทงาน 01=หน่วยปฏิบัติการดูแลผู้ประสบเหตุและขนส่ง (ชื่อธนาคาร สาขา เลขบัญชี ประเภทบัญชี ชื่อบัญชี), 02=หน่วยรับแจ้งภาวะฉุกเฉินและสั่งการทางการแพทย์, 03=โรงพยาบาลหรือสถานพยาบาล(จำนวน ความเชี่ยวชาญเฉพาะทาง เลือกประเภทโรงพยาบาล), 04=หน่วยบริหารจัดการระบบ, 05=หน่วยสนับสนุนอื่นๆ

# OfflineProtocal (object)
+ type: `OfflineProtocal` (string, fixed, required) - ค่าคงที่
+ offlinePotocalName: `example` (string, required) - ชื่อแนวทางการปฏิบัติงาน
+ AttechFile: `https://mis.tot.co.th/doc/offline/xxx.pdf` (string, required) - เอกสารแนวทางปฏิบัติงาน

# Report (object)
+ type: `Report` (string, fixed, required) - ค่าคงที่
+ eventPatientId: `2222` (number, required) - รหัสรายละเอียดผู้ประสบเหตุ
+ vitalsignsLink: `https://` (string) - ลิงค์สัญญาณชีพ
+ ekgLink: `https://` (string) - ลิงค์ EKG/ECG
+ detail (array[TreatmentInformation],fixed-type)

# TreatmentInformation (object)
+ type: `TreatmentInformation` (string, fixed, required) - ค่าคงที่
+ procedureName: `example` (string, required) - ชื่อหัตถการหรือการรักษา 52file(PROCEDURE_REFER)
+ pDescription: `example` (string, required) - คำอธิบายการทำหัตถการหรือการรักษา 52file(PROCEDURE_REFER)
+ doIt: `true` (boolean, nullable) - ได้ทำหรือไม่ null=ไม่ทราบ, true=ทำ, false=ไม่ได้ทำ
+ update: `2020-04-23T18:25:43.511` (string, required) - วันเวลาที่มีการแก้ไขข้อมูล มีรูปแบบ YYYY-MM-DDThh:mm:ss.s มีคำอธิบายในส่วน Introduction

# User (object)
+ type: `User` (string, fixed, required) - ค่าคงที่
+ personId: `1354` (number, required) - รหัสข้อมูลบุคคล
+ operatorID: `111222` (number, required) - รหัสทะเบียนเจ้าหน้าที่
+ officeID: `1010` (number, required) - หน่วยงานที่สังกัด
+ prefixCode: `001` (string, required) - คำนำหน้าชื่อ ไฟล์ prefix.xlsx
+ givenName: `แสม` (string, required) - ชื่อตัว
+ familyName: `แสนซน` (string, required) - ชื่อสกุล
+ genderCode: `1` (number, required) - เพศ 1=ชาย (male), 2=หญิง (Female), 9=ไม่สามารถระบุได้ (not applicable)
+ OperationStatusCode: `1` (number, required) - สถานะหยุดปฏิบัติการ 0=ลา, 1=พร้อมปฏิบัติงาน, 2=กำลังปฏิบัติงาน, 3=พัก
+ operationTypeCode: `10` (string, required) - หน้าที่ของเจ้าหน้าที่ 01=พนักงานช่วยเหลือผู้ป่วยเบื้องต้น, 02=พนักงานกู้ชีพ (BLS), 03=นักกู้ชีพวิชาชีพ (ALS), 04=By Stander, 05=พยาบาลควบคุมการรับแจ้งและคัดแยก, 06=พยาบาลถ่ายทอดคำสั่งแพทย์, 07=แพทย์ผู้อำนวยการ, 08=พยาบาลคัดแยกผู้ป่วยฉุกเฉิน, 09=ผู้ช่วยเหลือผู้ป่วยขับรถได้, 10=พยักงานกู้ชีพ (ILS), 11=พยาบาลกู้ชีพ, 12=พนักงานรับแจ้งและคัดแยกภาวะฉุกเฉิน, 13=พนักงานถ่ายทอดคำสั่งแพทย์, 14=แพทย์ผู้สั่งการเชื่อมตรง, 15=พนักงานคัดแยกผู้ป่วยฉุกเฉิน, 16=แพทย์ฉุกเฉิน

# Speciallist
+ type: `Speciallist` (string, fixed, required) - ค่าคงที่
+ id: `12346` (string, required) - เลขใบ ว.
+ nameTh: `สง กรานต์` (string) - ชือภาษาไทย
+ nameEn: `Song Kran` (string) - ชื่อภาษาอังกฤษ
+ officeID: `1010` (number) - หน่วยงานที่สังกัด
+ genderCode: `1` (number, required) - เพศ 1=ชาย (male), 2=หญิง (Female), 9=ไม่สามารถระบุได้ (not applicable)
+ tel: `0649999998` (string) - เบอร์โทรศัพท์
+ knowledge: `สาขา ออร์โธปิดิกส์ ( Orthopedics )`,`สาขา แพทย์คนชรา หมอคนแก่ (Geriatrician)` (array[string], fixed-type) - รายการความรู้เฉพาะทาง

# OperatingSet (object)
+ type: `OperatingSet` (string, fixed, required) - ค่าคงที่
+ id: `10-1-VEH-10010200034` (string) - รหัสชุดปฏิบัติการ
+ name: `โรงพยาบาลวิภาวดี 3กษ 8019` (string) - ชื่อชุดปฏิบัติการ

# Vehicle (object)
+ type: `Vehicle` (string, fixed, required) - ค่าคงที่
+ category: `Boat` (VehicleCategory) - ประเภทพาหนะ
+ vehicleNumber: `6กจ9999` (string) - เลขทะเบียนรถ
+ province: `สระแก้ว` (string) - จัดหวัด

# VehicleCategory (enum)
+ Boat - เรื่อ
+ Car - รถ
+ Aircraft - ทางอากาศ
+ Other - อื่นๆ

# VehicleLevel (enum)
+ ALS - ปฏิบัติการฉุกเฉินระดับสูง
+ ILS - ปฏิบัติการฉุกเฉินระดับกลาง
+ BLS - ปฏิบัติการฉุกเฉินระดับต้น
+ FR - ปฏิบัติการฉุกเฉินเบื้องต้น

# NotFound (object)
+ message: `ไม่พบข้อมูลตามที่ระบุใน Link` (string)
  ```

## Data Structures

# MisRoom (object)
+ type: `MisRoom` (string, fixed, required) - ค่าคงที่
+ officeID: `1010` (number, required) - หน่วยปฏิบัติการ (ทะเบียนหน่วยงาน)
+ eventPatientId: `2222` (array[number], fixed-type) - รหัสรายละเอียดผู้ประสบเหตุ คือ รหัสคนที่เกิดเหตุ
+ vehicle (Vehicle, required) - ข้อมูลรถปฏิบัติการ
+ level: `ALS` (VehicleLevel) - ระดับปฏิบัติการ
+ eventId: `610001` (number) - รหัสเหตุการณ์ ไม่ได้ใช้ใน MIS จะใช้สำหรับในกรณีที่ OIS ต้องการค้นหารายการห้อง MIS ทีอยู่ในเหตุการณ์เดียวกัน
+ operationNumber: `5354` (number,required) - เลขปฏิบัติงาน คือ เลขสั่งรถออกปฏิบัติงาน  จะใช้สำหรับในกรณีที่ OIS ต้องการค้นหาห้องด้วย เลขปฏิบัติงาน

# Victim (object)
+ type: `Victim` (string, fixed, required) - ค่าคงที่
+ eventPatientId: `2222` (number, required) - รหัสรายละเอียดผู้ประสบเหตุ
+ eventDateTime: `2020-04-23T18:25:43.511` (string, required) - เวลารับแจ้ง มีรูปแบบ YYYY-MM-DDThh:mm:ss.s มีคำอธิบายในส่วน Introduction
+ cbdCode: `CBD25` (string) - อาการผู้ประสบเหตุที่แจ้ง
+ patientName: `002321` (number) - ชื่อผู้ประสบเหตุ ชุดข้อมูลบุคคล personId ให้ดู object Person
+ citizenID: `3250400000001` (string) - หมายเลขประจำตัวประชาชน
+ emergencyLevelCode: `02` (string, required) - ระดับความรุนแรง 01=ขาว, 02=เขียว, 03=เหลือง, 04=แดง, 05=ดำ
+ instype (string) - สิทธิการรักษา 52file(Service)
+ drugallergy (string) - ประวัติการแพ้ยา 52file(DRUGALLERGY)
+ hospCode (string) - โรงพยาบาลที่รักษาล่าสุด 52file(PROCEDURE_REFER)

# Person (object)
+ type: `Person` (string, fixed, required) - ค่าคงที่
+ personId: `002321` (number, required) - รหัสข้อมูลบุคคล
+ citizenID: `3250400000001` (string) - หมายเลขประจำตัวประชาชน
+ prefixCode: `001` (string) - คำนำหน้าชื่อ ไฟล์ prefix.xlsx
+ givenName: `แสม` (string) - ชื่อตัว
+ familyName: `แสนซน` (string) - ชื่อสกุล
+ genderCode: `1` (number) - เพศ 1=ชาย (male), 2=หญิง (Female), 9=ไม่สามารถระบุได้ (not applicable)
+ birthDate: `1990-01-25` (string) - วันเกิด
+ birthJurisdiction: `ลพบุรี` (string) - สถานที่เกิด จังหวัด
+ nationalityCode: `TH` (string) - สัญชาติ File Nationality.xlsx
+ lifeStatusCode: `LI` (string) - สถานะการมีชีวิต EN=เสียชีวิต, LI=มีชีวิต
+ disabilityCode: `00` (string) - ความพิการ File Disability.xlsx
+ instype (string) - สิทธิการรักษา 52file(Service)
+ drugallergy (string) - ประวัติการแพ้ยา 52file(DRUGALLERGY)
+ hospCode (string) - โรงพยาบาลที่รักษาล่าสุด 52file(PROCEDURE_REFER)

# Organization (object)
+ type: `Organization` (string, fixed, required) - ค่าคงที่
+ officeID: `1010` (string, required) - รหัสหน่วยงาน
+ OfficeNameTh: `โรงพยาบาลวิภาวดี` (string, required) - ชื่อหน่วยงาน(ไทย)
+ OfficeNameEn: `Vipa` (string) - ชื่อหน่วยงาน(อังกฤษ)
+ ministryCode: `17` (string) - สังกัดกระทรวง/ทบวง File Ministry.xlsx กรมประชาสัมพันธ์ The Government Public Relations Department (PRD)
+ officeTypeCode (string) - ประเภทหน่วยงาน
+ typeOfWorkCode: `02` (string) - ประเภทงาน 01=หน่วยปฏิบัติการดูแลผู้ประสบเหตุและขนส่ง (ชื่อธนาคาร สาขา เลขบัญชี ประเภทบัญชี ชื่อบัญชี), 02=หน่วยรับแจ้งภาวะฉุกเฉินและสั่งการทางการแพทย์, 03=โรงพยาบาลหรือสถานพยาบาล(จำนวน ความเชี่ยวชาญเฉพาะทาง เลือกประเภทโรงพยาบาล), 04=หน่วยบริหารจัดการระบบ, 05=หน่วยสนับสนุนอื่นๆ

# OfflineProtocal (object)
+ type: `OfflineProtocal` (string, fixed, required) - ค่าคงที่
+ offlinePotocalName: `example` (string, required) - ชื่อแนวทางการปฏิบัติงาน
+ AttechFile: `https://mis.tot.co.th/doc/offline/xxx.pdf` (string, required) - เอกสารแนวทางปฏิบัติงาน

# Report (object)
+ type: `Report` (string, fixed, required) - ค่าคงที่
+ eventPatientId: `2222` (number, required) - รหัสรายละเอียดผู้ประสบเหตุ
+ vitalsignsLink: `https://` (string) - ลิงค์สัญญาณชีพ
+ ekgLink: `https://` (string) - ลิงค์ EKG/ECG
+ detail (array[TreatmentInformation],fixed-type)

# TreatmentInformation (object)
+ type: `TreatmentInformation` (string, fixed, required) - ค่าคงที่
+ procedureName: `example` (string, required) - ชื่อหัตถการหรือการรักษา 52file(PROCEDURE_REFER)
+ pDescription: `example` (string, required) - คำอธิบายการทำหัตถการหรือการรักษา 52file(PROCEDURE_REFER)
+ doIt: `true` (boolean, nullable) - ได้ทำหรือไม่ null=ไม่ทราบ, true=ทำ, false=ไม่ได้ทำ
+ update: `2020-04-23T18:25:43.511` (string, required) - วันเวลาที่มีการแก้ไขข้อมูล มีรูปแบบ YYYY-MM-DDThh:mm:ss.s มีคำอธิบายในส่วน Introduction

# User (object)
+ type: `User` (string, fixed, required) - ค่าคงที่
+ personId: `1354` (number, required) - รหัสข้อมูลบุคคล
+ operatorID: `111222` (number, required) - รหัสทะเบียนเจ้าหน้าที่
+ officeID: `1010` (number, required) - หน่วยงานที่สังกัด
+ prefixCode: `001` (string, required) - คำนำหน้าชื่อ ไฟล์ prefix.xlsx
+ givenName: `แสม` (string, required) - ชื่อตัว
+ familyName: `แสนซน` (string, required) - ชื่อสกุล
+ genderCode: `1` (number, required) - เพศ 1=ชาย (male), 2=หญิง (Female), 9=ไม่สามารถระบุได้ (not applicable)
+ OperationStatusCode: `1` (number, required) - สถานะหยุดปฏิบัติการ 0=ลา, 1=พร้อมปฏิบัติงาน, 2=กำลังปฏิบัติงาน, 3=พัก
+ operationTypeCode: `10` (string, required) - หน้าที่ของเจ้าหน้าที่ 01=พนักงานช่วยเหลือผู้ป่วยเบื้องต้น, 02=พนักงานกู้ชีพ (BLS), 03=นักกู้ชีพวิชาชีพ (ALS), 04=By Stander, 05=พยาบาลควบคุมการรับแจ้งและคัดแยก, 06=พยาบาลถ่ายทอดคำสั่งแพทย์, 07=แพทย์ผู้อำนวยการ, 08=พยาบาลคัดแยกผู้ป่วยฉุกเฉิน, 09=ผู้ช่วยเหลือผู้ป่วยขับรถได้, 10=พยักงานกู้ชีพ (ILS), 11=พยาบาลกู้ชีพ, 12=พนักงานรับแจ้งและคัดแยกภาวะฉุกเฉิน, 13=พนักงานถ่ายทอดคำสั่งแพทย์, 14=แพทย์ผู้สั่งการเชื่อมตรง, 15=พนักงานคัดแยกผู้ป่วยฉุกเฉิน, 16=แพทย์ฉุกเฉิน

# Speciallist
+ type: `Speciallist` (string, fixed, required) - ค่าคงที่
+ id: `12346` (string, required) - เลขใบ ว.
+ nameTh: `สง กรานต์` (string) - ชือภาษาไทย
+ nameEn: `Song Kran` (string) - ชื่อภาษาอังกฤษ
+ officeID: `1010` (number) - หน่วยงานที่สังกัด
+ genderCode: `1` (number, required) - เพศ 1=ชาย (male), 2=หญิง (Female), 9=ไม่สามารถระบุได้ (not applicable)
+ tel: `0649999998` (string) - เบอร์โทรศัพท์
+ knowledge: `สาขา ออร์โธปิดิกส์ ( Orthopedics )`,`สาขา แพทย์คนชรา หมอคนแก่ (Geriatrician)` (array[string], fixed-type) - รายการความรู้เฉพาะทาง

# OperatingSet (object)
+ type: `OperatingSet` (string, fixed, required) - ค่าคงที่
+ id: `10-1-VEH-10010200034` (string) - รหัสชุดปฏิบัติการ
+ name: `โรงพยาบาลวิภาวดี 3กษ 8019` (string) - ชื่อชุดปฏิบัติการ

# Vehicle (object)
+ type: `Vehicle` (string, fixed, required) - ค่าคงที่
+ category: `Boat` (VehicleCategory) - ประเภทพาหนะ
+ vehicleNumber: `6กจ9999` (string) - เลขทะเบียนรถ
+ province: `สระแก้ว` (string) - จัดหวัด

# VehicleCategory (enum)
+ Boat - เรื่อ
+ Car - รถ
+ Aircraft - ทางอากาศ
+ Other - อื่นๆ

# VehicleLevel (enum)
+ ALS - ปฏิบัติการฉุกเฉินระดับสูง
+ ILS - ปฏิบัติการฉุกเฉินระดับกลาง
+ BLS - ปฏิบัติการฉุกเฉินระดับต้น
+ FR - ปฏิบัติการฉุกเฉินเบื้องต้น

# NotFound (object)
+ message: `ไม่พบข้อมูลตามที่ระบุใน Link` (string)
