FORMAT: 1A
HOST: https://api.mis.tot.co.th/mis

MIS API

เอกสารการสเปค **MIS API.**
ชื่อ และ type ตัวแปรที่ใช้ จะล้อตามระบบ api ของระบบ ITEM สพฉ.

# ปฏิบัติการ [/dispatch]

## เพิ่มปฏิบัติการใหม่ (ทดสอบตัวสร้างเอกสารยังไม่ใช่โครงสร้างข้อมูลจริง) [POST /dispatch]

<img src="data\image\create_dispatch.svg">
เปิดปฏิบัติการ 1 คน ต่อ 1 ห้อง MIS

+ Request (application/json)

    + Headers

            Authorization: Bearer {token}

    + Attributes (Dispatch , fixed-type)

+ Response 201 (application/json)

    + Attributes (Dispatch , fixed-type)

## อัพเดทปฏิบัติการ [/dispatch]

  <img src="data\image\update_dispatch.svg">

  ในกรณี OIS ต้องการอัพเดทข้อมูลปฏิบัติการ ในระหว่างกำลังปฏิบัติงาน

## เมื่อผู้ป่วยขึ้นรถ หรือ มีการเปลี่ยนพาหนะ [/dispatch]

  ในกรณีที่มีพาหนะ หลายอย่างออกไปรับผู้ป่วย 1 คน เช่น มีการใช้รถรวมกันระว่าง FR กับ ALS ประสานงานกันรับผู้ป่วย

## ส่งรายงานปฏิบัติงาน [/dispatch]

## แก้ไขรายงานปฏิบัติงาน 24 ชม. [/dispatch]

# จัดการเวร [/duty]

## เข้าเวร/ออกเวร [/duty]

# Protocol [/protocol]

## Offline protocol [/protocol]

## Online protocol [/protocol]

# Lookup [/lookup]

## ดึงข้อมูล Special list จาก OIS [/specialist]

# ระบบ Telemed [/telemed]

## ข้อมูลสัญญาณชีพ html [GET /telemed/vitalsigns]

## ข้อมูลสัญญาณชีพ json [GET /telemed/vitalsigns]

# Notification [/notification]

## Data Structures

# Dispatch (object)
+ type: `Dispatch` (string, fixed) - ค่าคงที่
+ EventID: `61-0001` (string) - รหัสเหตุการณ์
+ OperationID: `61-0003` (string) - เลขปฏิบัติการ
+ VehicleIID: : 6กจ9999, 9ดม2448 (array) - เลขรถปฏิบัติการ (ทะเบียนยานพาหนะ)
+ OfficeID (number) - หน่วยปฏิบัติการ (ทะเบียนหน่วยงาน)
+ OperatingSetID (number) - ชุดปฏิบัติการ (ทะเบียนชุดปฏิบัติการ)
+ O_Victim (Victim) - เลขผู้ป่วย

# Victim (object)
+ CBDCode (string) - อาการผู้ป่วย ณ เกิดเหตุ
+ EmergencyLevelCode: `02` - ระดับความรุนแรง 01=ขาว, 02=เขียว, 03=เหลือง, 04=แดง, 05=ดำ
+ O_Person (Person) - รายละเอียดผู้ป่วย

# Person (object)
+ PersonID: `002321` (number) - รหัสข้อมูลบุคคล
+ CitizenID: `3250400000001` - หมายเลขประจำตัวประชาชน
+ PrefixCode: `001` (string) - คำนำหน้าชื่อ ไฟล์ prefix.xlsx
+ GivenName: `แสม` (string) - ชื่อตัว
+ FamilyName: `แสนซน` (string) - ชื่อสกุล
+ GenderCode: `1` (number) - เพศ 1=ชาย (male), 2=หญิง (Female), 9=ไม่สามารถระบุได้ (not applicable)
+ BirthDate: `1990-01-25` (string) - วันเกิด
+ BirthJurisdiction: `ลพบุรี` (string) - สถานที่เกิด จังหวัด
+ NationalityCode: `TH` (string) - สัญชาติ File Nationality.xlsx
+ LifeStatusCode: `LI` (string) - สถานะการมีชีวิต EN=เสียชีวิต, LI=มีชีวิต
+ DisabilityCode: `00` (string) - ความพิการ File Disability.xlsx

# Vehicle (object)
+ type: `Vehicle` (string, fixed) - ค่าคงที่
+ Vehicle_Id: `10-1-VEH-10010200034` (string) - รหัสชุดปฏิบัติการ
+ Vehicle_Name: `โรงพยาบาลวิภาวดี 3กษ 8019` (string) - ชื่อชุดปฏิบัติการ

# Victim (object)
+ type: `Victim` (string, fixed) - ค่าคงที่
+ Victim_Id: `61-0004` (string) - เลขผู้ป่วย
+ V_Title: `นาย` (string) - คำนำหน้าชื่อ
+ V_Firstname: `สมปอง` (string) - ชื่อผู้ป่วย
+ V_Lastname: `สองปม` (string) - นามสกุลผู้ป่วย
+ V_Age_Year: `25` (string) - อายุ(ปี)
+ V_Age_Month: `0` (string) - อายุ(เดือน)
+ V_Age_Day: `0` (string) - อายุ(วัน)
+ V_Gender (Gender) - เพศ
+ V_People_Type: `1` (string) - กลุ่มผู้ใช้สิทธิการรักษา 1=คนไทย, 2=แรงงานต่างด้าว, 3=ชาวต่างชาติ
+ V_Id_Card: `1000000000001` (string) - เลขบัตรประชาชนผู้ป่วย
+ V_Country (string) - ประเทศ(ชาวต่างชาติ)
+ V_Passport (string) - เลขที่หนังสือเดินทาง
+ V_Treatment_Right: `2` (string) - สิทธิการรักษา 1=ไม่มี, 2=สิทธิประกันสุขภาพถ้วนหน้า, 3=สิทธิข้าราชการ/สิทธิรัฐวิสาหกิจ, 4=สิทธิประกันสังคม, 5=แรงงานต่างด้าว
+ V_Insurance_Type (string) - ประกันอื่นๆ 1=ประกันท่องเที่ยว, 2=ผู้ประสบภัยจากรถ

# Gender (enum)
+ M - ชาย
+ F - หญิง

# Vehicle_Level (enum)
+ ALS - ปฏิบัติการฉุกเฉินระดับสูง
+ ILS - ปฏิบัติการฉุกเฉินระดับกลาง
+ BLS - ปฏิบัติการฉุกเฉินระดับต้น
+ FR - ปฏิบัติการฉุกเฉินเบื้องต้น

# Medical (object)
+ type: `Medical` (string, fixed) - ค่าคงที่
+ Name - ชื่อ
+ No - เลขที่ใบประกอบ
+ Tel - เบอร์โทรศัพท์
