swagger: '2.0'
info:
  title: ''
  version: ''
  description: ''
host: gw.hii.in.th
basePath: /mis
schemes:
  - https
paths:
  /Room:
    post:
      responses:
        '201':
          description: Created
          headers: {}
          examples:
            application/json:
              type: MisRoomReturn
              misRoomId: 999888
              detail:
                type: MisRoom
                officeID:
                  - 10000402
                eventPatientId:
                  - 2222
                centerId:
                  - 10000413
                jobs:
                  - vehicleId: '1000665'
                    jobDetailId: '3998'
                    jobDetailCode: D210623000049
                    level: ALS
                    jobId: jxxxxxxx
                vehicleId: '65232'
                operators:
                  - id: '224562'
                    role: Operator
                    officeID: '10000999'
                    vehicleId: '1000888'
                level: ALS
                slcus050_id: '2222'
                createDate: '2021-06-23 09:31:45'
          schema:
            type: object
            properties:
              type:
                type: string
                enum:
                  - MisRoomReturn
                description: ค่าคงที่
              misRoomId:
                type: number
                description: หมายเลขห้อง MIS
              detail:
                type: object
                properties:
                  type:
                    type: string
                    enum:
                      - MisRoom
                    description: ค่าคงที่
                  officeID:
                    type: array
                    items:
                      type: number
                    description: หน่วยปฏิบัติการ (ทะเบียนหน่วยงาน)
                  eventPatientId:
                    type: array
                    items:
                      type: number
                    description: รหัสรายละเอียดผู้ประสบเหตุ คือ รหัสคนที่เกิดเหตุ
                  centerId:
                    type: array
                    items:
                      type: number
                    description: ขึ้นตรงกับศูนย์สั่งการไหน
                  jobs:
                    type: array
                    items:
                      type: object
                      properties:
                        vehicleId:
                          type: string
                        jobDetailId:
                          type: string
                        jobDetailCode:
                          type: string
                        level:
                          type: string
                          enum:
                            - ALS
                            - ILS
                            - BLS
                            - FR
                          description: ระดับปฏิบัติการ
                        jobId:
                          type: string
                          description: เลข J
                      required:
                        - vehicleId
                        - jobId
                  vehicleId:
                    type: string
                    description: ยกเลิกใช้งาน
                  operators:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: รหัส id ผู้ใช้
                        role:
                          type: string
                          description: role อะไร
                        officeID:
                          type: string
                          description: รหัสศูนย์ที่สังกัด
                        vehicleId:
                          type: string
                          description: รหัสพาหนะ
                      required:
                        - id
                        - role
                        - officeID
                    description: รายการผู้ที่มีสิทธิ์เข้าห้อง MIS
                  level:
                    type: string
                    enum:
                      - ALS
                      - ILS
                      - BLS
                      - FR
                    description: ยกเลิกใช้งาน
                  slcus050_id:
                    type: string
                    description: >-
                      รหัสข้อมูลผู้ป่วยที่เกิดเหตุ ตรงนี้จะไม่ซ้ำกัน
                      ปัจจุบันเป็นเลขเดียวกับ eventPatientId
                  createDate:
                    type: string
                required:
                  - type
                  - officeID
                  - slcus050_id
                description: ข้อมูลรายเอียดห้อง MIS
            required:
              - type
              - misRoomId
              - detail
            additionalProperties: false
        '409':
          description: Conflict
          headers: {}
          examples:
            application/json:
              message: พบการสร้างห้องซ้ำ
          schema:
            type: object
            properties:
              message:
                type: string
            required:
              - message
            additionalProperties: false
      summary: เปิดห้อง MIS
      operationId: เปิดห้อง MIS
      description: >-
        <img src="data\image\create_dispatch.svg">


        1 ห้อง MIS ต่อ ผู้ป่วย 1 คน


        โครงสร้างที่ใช้


        - ใช้โครงสร้าง `ชุดข้อมูลการรับแจ้งเหตุ` มาปรับ

          **Update 23-06-2021**
            
          **ต้องการเพิ่มตัวแปร**

        - $.jobs.jobId เป็นเลข J สำหรับนำมาแสดงบน App ของ MIS และอาจรวมถึง
        เป็นคีย์ ตอนทำข้อมูลส่งรายงาน
          `-`
          **ตัวแปรที่ยกเลิกการใช้งาน แต่คงสภาพไว้ก่อนเพราะไม่อยากเปลี่ยนโครงสร้าง มีโอกาสทำให้เกิดบั๊ค จะส่งค่ามาหรือไม่ส่งมาก็ได้**

        - $.vehicleId ยกเลิกใช้งานแต่ยังคงไว้ ย้ายไปใช้ข้อมูลในส่วน operators
        แทย


        - $.level ยกเลิกใช้งานแต่ยังคงไว้ ย้ายไปใช้ข้อมูลในส่วน jobs แทน
      tags:
        - Introduction
      parameters:
        - name: body
          in: body
          schema:
            type: object
            properties:
              type:
                type: string
                enum:
                  - MisRoom
                description: ค่าคงที่
              officeID:
                type: array
                items:
                  type: number
                description: หน่วยปฏิบัติการ (ทะเบียนหน่วยงาน)
              eventPatientId:
                type: array
                items:
                  type: number
                description: รหัสรายละเอียดผู้ประสบเหตุ คือ รหัสคนที่เกิดเหตุ
              centerId:
                type: array
                items:
                  type: number
                description: ขึ้นตรงกับศูนย์สั่งการไหน
              jobs:
                type: array
                items:
                  type: object
                  properties:
                    vehicleId:
                      type: string
                    jobDetailId:
                      type: string
                    jobDetailCode:
                      type: string
                    level:
                      type: string
                      enum:
                        - ALS
                        - ILS
                        - BLS
                        - FR
                      description: ระดับปฏิบัติการ
                    jobId:
                      type: string
                      description: เลข J
                  required:
                    - vehicleId
                    - jobId
              vehicleId:
                type: string
                description: ยกเลิกใช้งาน
              operators:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: รหัส id ผู้ใช้
                    role:
                      type: string
                      description: role อะไร
                    officeID:
                      type: string
                      description: รหัสศูนย์ที่สังกัด
                    vehicleId:
                      type: string
                      description: รหัสพาหนะ
                  required:
                    - id
                    - role
                    - officeID
                description: รายการผู้ที่มีสิทธิ์เข้าห้อง MIS
              level:
                type: string
                enum:
                  - ALS
                  - ILS
                  - BLS
                  - FR
                description: ยกเลิกใช้งาน
              slcus050_id:
                type: string
                description: >-
                  รหัสข้อมูลผู้ป่วยที่เกิดเหตุ ตรงนี้จะไม่ซ้ำกัน
                  ปัจจุบันเป็นเลขเดียวกับ eventPatientId
              createDate:
                type: string
            required:
              - type
              - officeID
              - eventPatientId
              - centerId
              - jobs
              - vehicleId
              - operators
              - level
              - slcus050_id
              - createDate
            additionalProperties: false
            example:
              type: MisRoom
              officeID:
                - 10000402
              eventPatientId:
                - 2222
              centerId:
                - 10000413
              jobs:
                - vehicleId: '1000665'
                  jobDetailId: '3998'
                  jobDetailCode: D210623000049
                  level: ALS
                  jobId: jxxxxxxx
              vehicleId: '65232'
              operators:
                - id: '224562'
                  role: Operator
                  officeID: '10000999'
                  vehicleId: '1000888'
              level: ALS
              slcus050_id: '2222'
              createDate: '2021-06-23 09:31:45'
      produces:
        - application/json
definitions:
  เปิดห้อง MIS: {}
  MisRoom:
    type: object
    required:
      - type
      - officeID
      - slcus050_id
    properties:
      type:
        type: string
        description: ค่าคงที่
      officeID:
        type: array
        items:
          type: number
        description: หน่วยปฏิบัติการ (ทะเบียนหน่วยงาน)
      eventPatientId:
        type: array
        items:
          type: number
        description: รหัสรายละเอียดผู้ประสบเหตุ คือ รหัสคนที่เกิดเหตุ
      centerId:
        type: array
        items:
          type: number
        description: ขึ้นตรงกับศูนย์สั่งการไหน
      jobs:
        type: array
        items:
          $ref: '#/definitions/Jobs'
      vehicleId:
        type: string
        description: ยกเลิกใช้งาน
      operators:
        type: array
        items:
          $ref: '#/definitions/Operators'
        description: รายการผู้ที่มีสิทธิ์เข้าห้อง MIS
      level:
        $ref: '#/definitions/VehicleLevel'
        description: ยกเลิกใช้งาน
      slcus050_id:
        type: string
        description: >-
          รหัสข้อมูลผู้ป่วยที่เกิดเหตุ ตรงนี้จะไม่ซ้ำกัน ปัจจุบันเป็นเลขเดียวกับ
          eventPatientId
      createDate:
        type: string
  Operators:
    type: object
    required:
      - id
      - role
      - officeID
    properties:
      id:
        type: string
        description: รหัส id ผู้ใช้
      role:
        type: string
        description: role อะไร
      officeID:
        type: string
        description: รหัสศูนย์ที่สังกัด
      vehicleId:
        type: string
        description: รหัสพาหนะ
  Jobs:
    type: object
    required:
      - vehicleId
      - jobId
    properties:
      vehicleId:
        type: string
      jobDetailId:
        type: string
      jobDetailCode:
        type: string
      level:
        $ref: '#/definitions/VehicleLevel'
        description: ระดับปฏิบัติการ
      jobId:
        type: string
        description: เลข J
  MisRoomReturn:
    type: object
    required:
      - type
      - misRoomId
    properties:
      type:
        type: string
        description: ค่าคงที่
      misRoomId:
        type: number
        description: หมายเลขห้อง MIS
      detail:
        $ref: '#/definitions/MisRoom'
        description: ข้อมูลรายเอียดห้อง MIS
  Victim:
    type: object
    required:
      - type
      - eventPatientId
      - eventDateTime
      - emergencyLevelCode
    properties:
      type:
        type: string
        description: ค่าคงที่
      eventPatientId:
        type: number
        description: รหัสรายละเอียดผู้ประสบเหตุ
      vehicle:
        type:
          - number
          - 'null'
        description: พาหนะที่ผู้ประสบเหตุ กำลังโดยสารอยู่ ถ้ายังไม่ขึ้น ยังไม่ต้องกำหนดค่า
      eventDateTime:
        type: string
        description: >-
          เวลารับแจ้ง มีรูปแบบ YYYY-MM-DDThh:mm:ss.s มีคำอธิบายในส่วน
          Introduction
      cbdCode:
        type: string
        description: อาการผู้ประสบเหตุที่แจ้ง
      patientName:
        type: number
        description: ชื่อผู้ประสบเหตุ ชุดข้อมูลบุคคล personId ให้ดู object Person
      citizenID:
        type: string
        description: หมายเลขประจำตัวประชาชน
      emergencyLevelCode:
        type: string
        description: 'ระดับความรุนแรง 01=ขาว, 02=เขียว, 03=เหลือง, 04=แดง, 05=ดำ'
  VictimStatus:
    type: object
    required:
      - type
      - eventPatientId
      - color
      - timestamp
    properties:
      type:
        type: string
        description: ค่าคงที่
      eventPatientId:
        type: number
        description: รหัสรายละเอียดผู้ประสบเหตุ
      color:
        $ref: '#/definitions/Color'
        description: สถานะ เขียว เหลือง แดง
      timestamp:
        type: string
        description: >-
          เวลารับแจ้ง มีรูปแบบ YYYY-MM-DDThh:mm:ss.s มีคำอธิบายในส่วน
          Introduction
  Person:
    type: object
    required:
      - type
      - personId
    properties:
      type:
        type: string
        description: ค่าคงที่
      personId:
        type: number
        description: รหัสข้อมูลบุคคล
      citizenID:
        type: string
        description: หมายเลขประจำตัวประชาชน
      prefixCode:
        type: string
        description: คำนำหน้าชื่อ ไฟล์ prefix.xlsx
      givenName:
        type: string
        description: ชื่อตัว
      familyName:
        type: string
        description: ชื่อสกุล
      genderCode:
        type: number
        description: 'เพศ 1=ชาย (male), 2=หญิง (Female), 9=ไม่สามารถระบุได้ (not applicable)'
      birthDate:
        type: string
        description: วันเกิด
      birthJurisdiction:
        type: string
        description: สถานที่เกิด จังหวัด
      nationalityCode:
        type: string
        description: สัญชาติ File Nationality.xlsx
      lifeStatusCode:
        type: string
        description: 'สถานะการมีชีวิต EN=เสียชีวิต, LI=มีชีวิต'
      disabilityCode:
        type: string
        description: ความพิการ File Disability.xlsx
      medicalInformation:
        $ref: '#/definitions/MedicalInformation'
        description: ข้อมูลทางการแพทย์
  MedicalInformation:
    type: object
    required:
      - type
      - personId
    properties:
      type:
        type: string
        description: ค่าคงที่
      personId:
        type: number
        description: รหัสข้อมูลบุคคล
      instype:
        type: string
        description: 'สิทธิการรักษา 52file(Service) http://www.thcc.or.th/treatment.php'
      drugallergy:
        type: array
        items: {}
        description: ประวัติการแพ้ยา โครงสร้างปรับตามไฟล์ 52file(DRUGALLERGY)
      recentHospCode:
        type: string
        description: รหัสโรงพยาบาลที่รักษาล่าสุด 52file(PROCEDURE_REFER)
      recentHospName:
        type: string
        description: ชื่อโรงพยาบาลที่รักษาล่าสุด
      bloodGroup:
        type: string
        description: หมู่เลือด
      bloodGroupAH:
        $ref: '#/definitions/BloodRH'
        description: หมู่เลือด RH
  BloodRH:
    type: string
    enum:
      - NEGATIVE
      - POSITIVE
  Drugallergy:
    type: object
    required:
      - type
      - personId
      - symptom
    properties:
      type:
        type: string
        description: ค่าคงที่
      personId:
        type: number
        description: รหัสข้อมูลบุคคล
      drugCode:
        type: string
        description: 'รหัสมาตราฐานด้านยา 24 หลัก http://thcc.or.th/homemedicin.php'
      drugName:
        type: string
        description: ชื่อยาที่แพ้
      typeDX:
        type: string
        description: |-
          ประเภทการวินิจฉยการแพ้ยา 5 ประเภท (1= certain, 2= probable,

          3= possible, 4= unlikely, 5= unclassified)
      aLevel:
        type: string
        description: >-
          ระดบความรัุนแรงของการแพ้ยา 8 ระดับ  1.ไม่ร้ายแรง (Non-serious),
          2.ร้ายแรง - เสียชีวิต (Death), 3.ร้ายแรง - อันตรายถึงชีวิต
          (Life-threatening), 4.ร้ายแรง - ต้องเข้ารับการรักษาในโรงพยาบาล
          (Hospitalization-initial), 5.ร้ายแรง -
          ทําให้เพิ่มระยะเวลาในการรักษานานขึ้น (Hospitalization-prolonged),
          6.ร้ายแรง - พิการ (Disability), 7.ร้ายแรง -
          เป็นเหตุให้เกิดความผิดปกติแต่กำเนิด (Congenital anomaly),
          8.ร้ายแรง-อื่นๆ(คือ เหตุการณ์ร้ายแรงอื่น ๆ ที่สำคัญทางการแพทย์
          ซึ่งส่งผลให้ผู้ป่วยต้องได้รับการรักษาด้วยวิธีอื่น เช่น การผ่านตัด
          กรณีนี้รวมถึงผู้ป่วย ซึ่งเกิดปัญหาการหายใจติดขัดอย่างรุ่นแรง
          และต้องรักษาในห้องฉุกเฉิน ผู้ป่วยเกิดการอาการชักหมดสติ
          ระบบเลือดผิดปกติเป็นต้น
      symptom:
        type: string
        description: ลักษณะอาการของการแพ้ยา
  Organization:
    type: object
    required:
      - type
      - officeID
      - OfficeNameTh
    properties:
      type:
        type: string
        description: ค่าคงที่
      officeID:
        type: string
        description: รหัสหน่วยงาน
      OfficeNameTh:
        type: string
        description: ชื่อหน่วยงาน(ไทย)
      OfficeNameEn:
        type: string
        description: ชื่อหน่วยงาน(อังกฤษ)
      ministryCode:
        type: string
        description: >-
          สังกัดกระทรวง/ทบวง File Ministry.xlsx กรมประชาสัมพันธ์ The Government
          Public Relations Department (PRD)
      officeTypeCode:
        type: string
        description: ประเภทหน่วยงาน
      typeOfWorkCode:
        type: string
        description: >-
          ประเภทงาน 01=หน่วยปฏิบัติการดูแลผู้ประสบเหตุและขนส่ง (ชื่อธนาคาร สาขา
          เลขบัญชี ประเภทบัญชี ชื่อบัญชี),
          02=หน่วยรับแจ้งภาวะฉุกเฉินและสั่งการทางการแพทย์,
          03=โรงพยาบาลหรือสถานพยาบาล(จำนวน ความเชี่ยวชาญเฉพาะทาง
          เลือกประเภทโรงพยาบาล), 04=หน่วยบริหารจัดการระบบ, 05=หน่วยสนับสนุนอื่นๆ
  ShortOrganization:
    type: object
    required:
      - type
      - officeID
      - OfficeNameTh
      - OfficeNameEn
    properties:
      type:
        type: string
        description: ค่าคงที่
      officeID:
        type: number
        description: รหัสหน่วยงาน
      OfficeNameTh:
        type: string
        description: ชื่อหน่วยงานไทย
      OfficeNameEn:
        type: string
        description: ชื่อหน่วยงานอังกฤษ
  OfflineProtocal:
    type: object
    required:
      - type
      - offlinePotocalName
      - AttechFile
    properties:
      type:
        type: string
        description: ค่าคงที่
      offlinePotocalName:
        type: string
        description: ชื่อแนวทางการปฏิบัติงาน
      pageNumber:
        type: number
        description: เลขหน้า
      AttechFile:
        type: string
        description: เอกสารแนวทางปฏิบัติงาน
  Protocol:
    type: object
    required:
      - type
      - eventPatientId
      - update
    properties:
      type:
        type: string
        description: ค่าคงที่
      eventPatientId:
        type: number
        description: รหัสรายละเอียดผู้ประสบเหตุ
      vitalsignsLink:
        type: string
        description: ลิงค์สัญญาณชีพ
      ekgLink:
        type: string
        description: ลิงค์ EKG/ECG
      detail:
        type: array
        items:
          $ref: '#/definitions/TreatmentInformation'
      note:
        type: string
        description: note อื่นๆ
      update:
        type: string
        description: 'วันเวลาที่มีการแก้ไขข้อมูล มีรูปแบบ YYYY-MM-DDThh:mm:ss.s'
  TreatmentInformation:
    type: object
    required:
      - type
      - createBy
      - updateBy
      - procedureName
      - createDescription
      - updateDescription
      - update
      - timestamp
    properties:
      type:
        type: string
        description: ค่าคงที่
      pattern:
        $ref: '#/definitions/PatternProtocal'
      createBy:
        type: number
        description: สร้างโดยใคร
      updateBy:
        type: number
        description: อัพเดทโดยใคร ตอนแรก จะเป็นอันเดียวกับ createBy
      procedureName:
        type: string
        description: ชื่อหัตถการหรือการรักษา 52file(PROCEDURE_REFER)
      createDescription:
        type: string
        description: >-
          คำอธิบายการทำหัตถการหรือการรักษา โดยจะเป็นของคนที่สร้างคำสั่งหัตถการ
          โดยผู้ อัพเดทไม่มีสิทธิ์แก้ไข 52file(PROCEDURE_REFER)
      updateDescription:
        type: string
        description: >-
          คำอธิบายการทำหัตถการหรือการรักษา โดยจะเป็นของคนที่รับคำสั่งหัตถการ 
          โดยผู้สร้างไม่มีสิทธิ์แก้ไข 52file(PROCEDURE_REFER)
      doIt:
        type:
          - boolean
          - 'null'
        description: 'ได้ทำหรือไม่ true=ทำ, false=ไม่ได้ทำ'
      update:
        type: string
        description: >-
          วันเวลาที่มีการแก้ไขข้อมูล มีรูปแบบ YYYY-MM-DDThh:mm:ss.s
          มีคำอธิบายในส่วน Introduction
      timestamp:
        type: string
        description: >-
          วันเวลาที่มีการแก้ไขข้อมูล มีรูปแบบ YYYY-MM-DDThh:mm:ss.s
          มีคำอธิบายในส่วน Introduction
  User:
    type: object
    required:
      - type
      - personId
      - operatorID
      - officeID
      - prefixCode
      - givenName
      - familyName
      - genderCode
      - operationStatusCode
      - operationTypeCode
    properties:
      type:
        type: string
        description: ค่าคงที่
      personId:
        type: number
        description: รหัสข้อมูลบุคคล
      operatorID:
        type: number
        description: รหัสทะเบียนเจ้าหน้าที่
      officeID:
        type: number
        description: หน่วยงานที่สังกัด
      prefixCode:
        type: string
        description: คำนำหน้าชื่อ ไฟล์ prefix.xlsx
      givenName:
        type: string
        description: ชื่อตัว
      familyName:
        type: string
        description: ชื่อสกุล
      genderCode:
        type: number
        description: 'เพศ 1=ชาย (male), 2=หญิง (Female), 9=ไม่สามารถระบุได้ (not applicable)'
      operationStatusCode:
        type: number
        description: 'สถานะหยุดปฏิบัติการ 0=ลา, 1=พร้อมปฏิบัติงาน, 2=กำลังปฏิบัติงาน, 3=พัก'
      operationTypeCode:
        type: string
        description: >-
          หน้าที่ของเจ้าหน้าที่ 01=พนักงานช่วยเหลือผู้ป่วยเบื้องต้น,
          02=พนักงานกู้ชีพ (BLS), 03=นักกู้ชีพวิชาชีพ (ALS), 04=By Stander,
          05=พยาบาลควบคุมการรับแจ้งและคัดแยก, 06=พยาบาลถ่ายทอดคำสั่งแพทย์,
          07=แพทย์ผู้อำนวยการ, 08=พยาบาลคัดแยกผู้ป่วยฉุกเฉิน,
          09=ผู้ช่วยเหลือผู้ป่วยขับรถได้, 10=พยักงานกู้ชีพ (ILS),
          11=พยาบาลกู้ชีพ, 12=พนักงานรับแจ้งและคัดแยกภาวะฉุกเฉิน,
          13=พนักงานถ่ายทอดคำสั่งแพทย์, 14=แพทย์ผู้สั่งการเชื่อมตรง,
          15=พนักงานคัดแยกผู้ป่วยฉุกเฉิน, 16=แพทย์ฉุกเฉิน
      tel:
        type: string
        description: เบอร์โทรศัพท์
  Speciallist:
    type: object
    required:
      - type
      - id
      - genderCode
    properties:
      type:
        type: string
        description: ค่าคงที่
      id:
        type: string
        description: 'เลขใบประกอบโรคศิลปะ ,เลขใบ ว.'
      nameTh:
        type: string
        description: ชือภาษาไทย
      nameEn:
        type: string
        description: ชื่อภาษาอังกฤษ
      officeID:
        type: array
        items: {}
        description: หน่วยงานที่สังกัด
      genderCode:
        type: number
        description: 'เพศ 1=ชาย (male), 2=หญิง (Female), 9=ไม่สามารถระบุได้ (not applicable)'
      tel:
        type: string
        description: เบอร์โทรศัพท์
      knowledge:
        type: array
        items:
          anyOf:
            - type: string
            - type: string
        description: รายการความรู้เฉพาะทาง
  Vehicle:
    type: object
    required:
      - type
      - vehicleId
      - operationNumber
      - operatingSetID
    properties:
      type:
        type: string
        description: ค่าคงที่
      vehicleId:
        type: number
        description: รหัสพาหนะ
      operationNumber:
        type: number
        description: เลขปฏิบัติงาน คือ เลขสั่งรถออกปฏิบัติงาน ที่ผูกกับพาหนะนี้อยู่
      operatingSetID:
        type: number
        description: เลขชุดปฏิบัติการ (ทะเบียนชุดปฏิบัติการ) ที่ใช้ พาหนะนี้อยู่
      eventPatientId:
        type: array
        items:
          type: number
        description: รหัสรายละเอียดผู้ประสบเหตุ คือ รหัสคนที่เกิดเหตุ ที่อยู่บนพาหนะ
      category:
        allOf:
          - $ref: '#/definitions/VehicleCategory'
          - type: object
            properties: {}
        description: ประเภทพาหนะ
      vehicleNumber:
        type: string
        description: เลขทะเบียนรถ
      province:
        type: string
        description: จัดหวัด
  ChangeVehicle:
    type: object
    required:
      - type
      - eventPatientId
    properties:
      type:
        type: string
        description: ค่าคงที่
      eventPatientId:
        type: number
        description: รหัสรายละเอียดผู้ประสบเหตุ
      vehicleId:
        type:
          - number
          - 'null'
        description: >-
          รหัสพาหนะที่ขึ้น โดย MIS จะใช้ api ดึงข้อมูลรถ
          เพื่อขอรายระเอียดอีกครั้ง หากไม่กำหนดมาหมายถึงลงรถ
  Gps:
    type: object
    required:
      - type
      - personId
      - lat
      - lon
      - timestamp
    properties:
      type:
        type: string
        description: ค่าคงที่
      personId:
        type: number
        description: รหัสข้อมูลบุคคล
      lat:
        type: string
      lon:
        type: string
      accuracy:
        type: number
      timestamp:
        type: string
        description: >-
          วันเวลาที่มีการแก้ไขข้อมูล มีรูปแบบ YYYY-MM-DDThh:mm:ss.s
          มีคำอธิบายในส่วน Introduction
  GpsMessageQueue:
    type: object
    required:
      - type
      - randomNumber
      - personId
      - gps
    properties:
      type:
        type: string
        description: ค่าคงที่
      randomNumber:
        type: number
        description: ให้สุ่มตัวเลขใส่ค่าในช่องนี้
      personId:
        type: number
        description: รหัสข้อมูลบุคคล
      gps:
        type: array
        items:
          $ref: '#/definitions/Gps'
        description: ข้อมูล gps
  TelemedLink:
    type: object
    required:
      - type
      - eventPatientId
    properties:
      type:
        type: string
        description: ค่าคงที่
      eventPatientId:
        type: number
        description: รหัสรายละเอียดผู้ประสบเหตุ
      vitalsignsLink:
        type: string
        description: ลิงค์สัญญาณชีพ
      ekgLink:
        type: string
        description: ลิงค์ EKG/ECG
  SendOperator:
    type: object
    required:
      - type
      - randomNumber
      - misRoomId
      - officeID
      - operatorID
      - message
    properties:
      type:
        type: string
        description: ค่าคงที่
      randomNumber:
        type: number
        description: ให้สุ่มตัวเลขใส่ค่าในช่องนี้
      misRoomId:
        type: number
        description: หมายเลขห้อง MIS
      officeID:
        type: number
        description: หน่วยปฏิบัติการ (เลขทะเบียนหน่วยงาน)
      operatorID:
        type: number
        description: รหัสทะเบียนเจ้าหน้าที่
      message:
        type: string
        description: ข้อความ
  SendCenter:
    type: object
    required:
      - type
      - randomNumber
      - operatorID
      - misRoomId
      - officeID
      - message
    properties:
      type:
        type: string
        description: ค่าคงที่
      randomNumber:
        type: number
        description: ให้สุ่มตัวเลขใส่ค่าในช่องนี้
      operatorID:
        type: number
        description: รหัสทะเบียนเจ้าหน้าที่
      misRoomId:
        type: number
        description: หมายเลขห้อง MIS เลขห้อง=operationNumber
      officeID:
        type: number
        description: หน่วยปฏิบัติการที่จะส่งข้อความถึง (เลขทะเบียนหน่วยงาน)
      message:
        type: string
        description: ข้อความ
  CheckIn:
    type: object
    required:
      - type
      - operatorID
      - checkIn
    properties:
      type:
        type: string
        description: ค่าคงที่
      operatorID:
        type: number
        description: รหัสทะเบียนเจ้าหน้าที่
      checkIn:
        type: boolean
        description: 'สถานะเข้าเวร/ออกเวร true=เข้าเวร, false=ออกเวร'
  PatternProtocal:
    type: string
    enum:
      - DIRECT
      - GENERAL
      - OTHER
  Color:
    type: string
    enum:
      - GREEN
      - YELLOW
      - RED
      - WHITE
      - BLACK
  VehicleCategory:
    type: string
    enum:
      - Boat
      - Car
      - Aircraft
      - Other
  VehicleLevel:
    type: string
    enum:
      - ALS
      - ILS
      - BLS
      - FR
  NotFound:
    type: object
    properties:
      message:
        type: string
securityDefinitions: {}
tags:
  - name: Introduction
    description: '# MIS API Design'
